Repository bminor/binutils-gdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-include-guards, check-gnu-style

.pre-commit-config.yaml:

# Git has the notion of hooks, which are custom scripts that are run on
# specific events.  One of these hooks is the pre-commit hook (located at
# .git/hooks/pre-commit), which is run when committing, before specifying a
# message.
#
# To ease management of the pre-commit hook, the pre-commit framework
# ( https://pre-commit.com ) was developed.  This is the configuration file
# for that framework.  It contains a list of hooks, with information on where
# to find them and on which files to run them.
#
# See here ( https://pre-commit.com/#install ) on how to install the
# pre-commit framework.
#
# To run all the hooks specified in this file manually, you can do:
# $ pre-commit run
#
# To run some hooks and skip others, you can use environment variable SKIP:
# $ SKIP=flake8,isort pre-commit run
#
# To install the pre-commit framework in the repository in order to run the
# hooks on every commit, do:
# $ pre-commit install
#
# After installing the pre-commit framework, you can skip running all
# pre-commit hooks using --no-verify, or some using SKIP.
# $ git commit --no-verify ...
# $ SKIP=flake8,isort git commit ...
#
# In case some of these hooks don't work for you, you can make the SKIP
# setting permanent by:
# - setting SKIP in your environment
#   (this will affect all repositories where it is set)
# - setting SKIP in .git/hooks/pre-commit by adding "export SKIP=..."
#   (this will affect only this repository, but it may have to be re-added
#    if .git/hooks/pre-commit is regenerated)
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

minimum_pre_commit_version: 3.2.0
default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit]
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
      - id: black
        types_or: [file]
        files: 'gdb/.*\.py(\.in)?$'
  - repo:  https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
    - id: flake8
      types_or: [file]
      # Run this for (in glob notation):
      #
      #  - gdb/gdb-gdb.py.in
      #  - gdb/*.py
      #  - gdb/python/**/*.py
      #  - gdb/testsuite/*.py
      #
      files: '^gdb/(gdb-gdb\.py\.in|[^/]+\.py|python/.+\.py|testsuite/[^/]+\.py)$'
      args: [--config, gdb/setup.cfg]
  - repo: https://github.com/pycqa/isort
    rev: 6.1.0
    hooks:
    - id: isort
      types_or: [file]
      files: 'gdb/.*\.py(\.in)?$'
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    - id: codespell
      files: '^(gdbsupport|gdbserver|gdb/(tui|target|data-directory|po|system-gdbinit|mi|syscalls|arch|regformats|compile|python|guile|config|unittests|cli|testsuite/gdb.(ctf|dap|debuginfod|gdb|go|guile|mi|modula2|objc|opencl|opt|pascal|perf|replay|reverse|rocm|server|stabs|testsuite|tui|xml)))/'
      args: [--config, gdb/contrib/setup.cfg]
  - repo: local
    hooks:
    - id: check-include-guards
      name: check-include-guards
      language: python
      entry: gdb/check-include-guards.py
      # All gdb header files, but not headers in the test suite.
      files: '^(gdb(support|server)?)/.*\.h$'
      exclude: '.*/testsuite/.*'
    - id: codespell-log
      name: codespell-log
      language: script
      entry: gdb/contrib/codespell-log.sh
      verbose: true
      always_run: true
      stages: [commit-msg]
    - id: check-gnu-style
      name: check-gnu-style
      language: script
      entry: gdb/contrib/check-gnu-style-pre-commit.sh
      files: '^(gdb(support|server)?)/.*\.(c|h|cc)$'
      exclude: '.*/testsuite/.*'
      verbose: true
      stages: [pre-commit]
  - repo: https://github.com/nmoroze/tclint
    rev: v0.6.1
    hooks:
    - id: tclint
      args: [--config, gdb/tclint.toml]
      types_or: [file]
      files: 'gdb/testsuite/.*\.(exp|tcl)$'

Automatic date update in version.in
  bfd/version.h
Due: none

Re: bfd/Dwarf: Add suitable defines to use at call and use sites
  binutils/dwarf.c
Due: none

bfd: fix potential missing seek
  bfd/cache.c
Due: none

PR 33637, abort in byte_get
  binutils/dwarf.c
Due: none

ELF symbol version output cleanup
  bfd/elflink.c
Due: none

elf: Renumber local dynamic symbols only if needed
  bfd/elf-bfd.h
  bfd/elflink.c
Due: none

elf: Properly place base symbols in DT_GNU_HASH and DT_HASH
  bfd/elf-bfd.h
  bfd/elflink.c
  ld/testsuite/ld-elfvers/pr33577-unversioned-a.rd
  ld/testsuite/ld-elfvers/pr33577-unversioned-b.rd
  ld/testsuite/ld-elfvers/pr33577-versioned-a.rd
  ld/testsuite/ld-elfvers/pr33577-versioned-b.rd
  ld/testsuite/ld-elfvers/vers.exp
Due: none

lto: Compile PR ld/23818 test with -fPIC
  ld/testsuite/ld-plugin/lto.exp
Due: none

[gdb/corefiles] Sort info proc mappings table
  gdb/linux-tdep.c
Due: check-gnu-style

gdb/aarch64: change target_ops::stopped_data_address API
  gdb/NEWS
  gdb/aarch64-fbsd-nat.c
  gdb/aarch64-linux-nat.c
  gdb/arm-linux-nat.c
  gdb/breakpoint.c
  gdb/doc/gdb.texinfo
  gdb/ia64-linux-nat.c
  gdb/infrun.c
  gdb/linux-nat.c
  gdb/linux-nat.h
  gdb/loongarch-linux-nat.c
  gdb/mips-linux-nat.c
  gdb/nat/aarch64-hw-point.c
  gdb/nat/aarch64-hw-point.h
  gdb/nat/x86-dregs.c
  gdb/procfs.c
  gdb/ravenscar-thread.c
  gdb/record-full.c
  gdb/remote.c
  gdb/target-debug.h
  gdb/target-delegates-gen.c
  gdb/target.h
  gdb/testsuite/gdb.base/watchpoint-adjacent.c
  gdb/testsuite/gdb.base/watchpoint-adjacent.exp
  gdb/x86-linux-nat.h
  gdb/x86-nat.h
  gdbserver/linux-aarch64-low.cc
  gdbserver/linux-arm-low.cc
  gdbserver/linux-loongarch-low.cc
  gdbserver/linux-low.cc
  gdbserver/linux-low.h
  gdbserver/linux-mips-low.cc
  gdbserver/linux-x86-low.cc
  gdbserver/remote-utils.cc
  gdbserver/server.cc
  gdbserver/server.h
  gdbserver/target.cc
  gdbserver/target.h
  gdbserver/win32-low.cc
  gdbserver/win32-low.h
Due: check-include-guards, check-gnu-style

gdb/dwarf: remove nullptr check in dwarf2_locexpr_baton_eval
  gdb/dwarf2/loc.c
Due: check-gnu-style

gdb/dwarf: remove nullptr prop check in dwarf2_evaluate_property
  gdb/dwarf2/loc.c
  gdb/gdbtypes.c
Due: check-gnu-style

gdb/testsuite/dwarf: convert _section proc to use parse_options
  gdb/testsuite/lib/dwarf.exp
Due: none

gdb/testsuite/dwarf: use single abbrev table in .dwo files
  gdb/testsuite/gdb.dwarf2/fission-with-type-unit.exp
  gdb/testsuite/lib/dwarf.exp
Due: none

gdb/testsuite/dwarf: ensure build_executable_and_dwo_files calls untested in all failure paths
  gdb/testsuite/lib/dwarf.exp
Due: none

gdb/dwarf: use dwarf2_per_cu::ref_addr_size in one spot
  gdb/dwarf2/read.c
Due: check-gnu-style

gdb/dwarf: clarify meaning dwarf2_per_cu::{m_section,m_sect_off,m_length} in presence of DWO file
  gdb/dwarf2/read.h
Due: check-include-guards, check-gnu-style

gdb/dwarf: store addr/offset/ref_addr sizes in dwarf2_per_cu
  gdb/dwarf2/read.c
  gdb/dwarf2/read.h
  gdb/testsuite/gdb.dwarf2/fission-type-unit-locexpr.c
  gdb/testsuite/gdb.dwarf2/fission-type-unit-locexpr.exp
Due: check-include-guards, check-gnu-style

gdb/dwarf: when in dwarf2_cu, read addr_size from dwarf2_cu::header
  gdb/dwarf2/cu.c
  gdb/testsuite/gdb.dwarf2/fission-reread.exp
Due: check-gnu-style

gdb/testsuite/dwarf: emit type unit sections as COMDAT
  gdb/testsuite/lib/dwarf.exp
Due: none

Add support for new Ada task state
  gdb/ada-tasks.c
  gdb/doc/gdb.texinfo
Due: check-gnu-style

Use a vector in objc_msgcall_operation::evaluate
  gdb/eval.c
Due: check-gnu-style

Merge eval_op_objc_msgcall into objc_msgcall_operation::evaluate
  gdb/eval.c
Due: check-gnu-style

Fix crash from eval_op_objc_msgcall
  gdb/eval.c
Due: check-gnu-style

Rename some locals in objc_msgcall_operation::evaluate
  gdb/eval.c
Due: check-gnu-style

gdbserver: remove leftovers from tic6x target_desc selftests
  gdbserver/linux-tic6x-low.cc
Due: check-gnu-style

mips regression fixes
  bfd/elfxx-mips.c
Due: none

x86: traverse loc_hash_table only if used
  bfd/elf32-i386.c
  bfd/elf64-x86-64.c
  bfd/elfxx-x86.c
  bfd/elfxx-x86.h
Due: none

Require GNAT 8 for gdb.ada/recursive-access.exp
  gdb/testsuite/gdb.ada/recursive-access.exp
Due: none

Reformat gdb.objc tests
  gdb/testsuite/gdb.objc/basicclass.exp
  gdb/testsuite/gdb.objc/nondebug.exp
  gdb/testsuite/gdb.objc/objcdecode.exp
Due: none
