Repository bminor/binutils-gdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-include-guards, check-gnu-style

.pre-commit-config.yaml:

# Git has the notion of hooks, which are custom scripts that are run on
# specific events.  One of these hooks is the pre-commit hook (located at
# .git/hooks/pre-commit), which is run when committing, before specifying a
# message.
#
# To ease management of the pre-commit hook, the pre-commit framework
# ( https://pre-commit.com ) was developed.  This is the configuration file
# for that framework.  It contains a list of hooks, with information on where
# to find them and on which files to run them.
#
# See here ( https://pre-commit.com/#install ) on how to install the
# pre-commit framework.
#
# To run all the hooks specified in this file manually, you can do:
# $ pre-commit run
#
# To run some hooks and skip others, you can use environment variable SKIP:
# $ SKIP=flake8,isort pre-commit run
#
# To install the pre-commit framework in the repository in order to run the
# hooks on every commit, do:
# $ pre-commit install
#
# After installing the pre-commit framework, you can skip running all
# pre-commit hooks using --no-verify, or some using SKIP.
# $ git commit --no-verify ...
# $ SKIP=flake8,isort git commit ...
#
# In case some of these hooks don't work for you, you can make the SKIP
# setting permanent by:
# - setting SKIP in your environment
#   (this will affect all repositories where it is set)
# - setting SKIP in .git/hooks/pre-commit by adding "export SKIP=..."
#   (this will affect only this repository, but it may have to be re-added
#    if .git/hooks/pre-commit is regenerated)
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

minimum_pre_commit_version: 3.2.0
default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit]
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
      - id: black
        types_or: [file]
        files: 'gdb/.*\.py(\.in)?$'
  - repo:  https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
    - id: flake8
      types_or: [file]
      # Run this for (in glob notation):
      #
      #  - gdb/gdb-gdb.py.in
      #  - gdb/*.py
      #  - gdb/python/**/*.py
      #  - gdb/testsuite/*.py
      #
      files: '^gdb/(gdb-gdb\.py\.in|[^/]+\.py|python/.+\.py|testsuite/[^/]+\.py)$'
      args: [--config, gdb/setup.cfg]
  - repo: https://github.com/pycqa/isort
    rev: 6.1.0
    hooks:
    - id: isort
      types_or: [file]
      files: 'gdb/.*\.py(\.in)?$'
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    - id: codespell
      files: '^(gdbsupport|gdbserver|gdb/(tui|target|data-directory|po|system-gdbinit|mi|syscalls|arch|regformats|compile|python|guile|config|unittests|cli|testsuite/gdb.(ctf|dap|debuginfod|gdb|go|guile|mi|modula2|objc|opencl|opt|pascal|perf|replay|reverse|rocm|server|stabs|testsuite|tui|xml)))/'
      args: [--config, gdb/contrib/setup.cfg]
  - repo: local
    hooks:
    - id: check-include-guards
      name: check-include-guards
      language: python
      entry: gdb/check-include-guards.py
      # All gdb header files, but not headers in the test suite.
      files: '^(gdb(support|server)?)/.*\.h$'
      exclude: '.*/testsuite/.*'
    - id: codespell-log
      name: codespell-log
      language: script
      entry: gdb/contrib/codespell-log.sh
      verbose: true
      always_run: true
      stages: [commit-msg]
    - id: check-gnu-style
      name: check-gnu-style
      language: script
      entry: gdb/contrib/check-gnu-style-pre-commit.sh
      files: '^(gdb(support|server)?)/.*\.(c|h|cc)$'
      exclude: '.*/testsuite/.*'
      verbose: true
      stages: [pre-commit]
  - repo: https://github.com/nmoroze/tclint
    rev: v0.6.1
    hooks:
    - id: tclint
      args: [--config, gdb/tclint.toml]
      types_or: [file]
      files: 'gdb/testsuite/.*\.(exp|tcl)$'

elf: Wire up PR ld/21086 test
  ld/testsuite/ld-elf/pr21086.rd
  ld/testsuite/ld-elf/shared.exp
Due: none

ld-elfvers: Remove vers8.c
  ld/testsuite/ld-elfvers/vers8.c
Due: none

Automatic date update in version.in
  bfd/version.h
Due: none

hppa64: Fix handling of dynamic relocations
  bfd/elf64-hppa.c
Due: none

gdb: build solib-svr4-linux.o when building for targets xtensa*-*-*linux*
  gdb/configure.tgt
Due: none

gdbserver, read_ptid: handle '0' and '-1' thread ids
  gdbserver/remote-utils.cc
Due: check-gnu-style

gdb, gdbserver: fix read/write_ptid types
  gdb/remote.c
  gdbserver/remote-utils.cc
Due: check-gnu-style

gdb, remote: fix set_thread () in start_remote ()
  gdb/remote.c
Due: check-gnu-style

gdb: change find_compunit_symtab_by_address to find_symbol_by_address
  gdb/dwarf2/cooked-index.h
  gdb/dwarf2/read.c
  gdb/dwarf2/read.h
  gdb/objfiles.h
  gdb/psymtab.h
  gdb/quick-symbol.h
  gdb/symfile-debug.c
  gdb/symtab.c
Due: check-include-guards, check-gnu-style

gdb: change search_symtab helper to be a method
  gdb/block.c
  gdb/block.h
  gdb/symtab.c
  gdb/symtab.h
Due: check-include-guards, check-gnu-style

gdb: simplify find_symbol_at_address
  gdb/dwarf2/read.c
  gdb/symtab.c
Due: check-gnu-style

gdb/aarch64: signal frame support for fpmr
  gdb/aarch64-linux-tdep.c
Due: check-gnu-style

bfd/ELF: Core file support for AArch64 FPMR
  bfd/elf-bfd.h
  bfd/elf.c
  binutils/readelf.c
  include/elf/common.h
Due: none

gdb/aarch64: Tests for fpmr
  gdb/testsuite/gdb.arch/aarch64-fpmr-core.c
  gdb/testsuite/gdb.arch/aarch64-fpmr-core.exp
  gdb/testsuite/gdb.arch/aarch64-fpmr-sighandler.c
  gdb/testsuite/gdb.arch/aarch64-fpmr-sighandler.exp
  gdb/testsuite/gdb.arch/aarch64-fpmr.c
  gdb/testsuite/gdb.arch/aarch64-fpmr.exp
  gdb/testsuite/lib/gdb.exp
Due: none

gdbserver/aarch64: Enable FPMR for AArch64 in gdbserver on Linux
  gdbserver/linux-aarch64-low.cc
Due: check-gnu-style

gdb/doc: Document AArch64 FPMR support
  gdb/NEWS
  gdb/doc/gdb.texinfo
Due: none

gdb/aarch64: core file support for FPMR
  gdb/aarch64-linux-tdep.c
Due: check-gnu-style

gdb/aarch64: Enable FPMR for AArch64 in gdb on Linux
  gdb/aarch64-linux-nat.c
  gdb/aarch64-linux-tdep.c
  gdb/aarch64-tdep.c
  gdb/aarch64-tdep.h
  gdb/arch/aarch64.c
  gdb/arch/aarch64.h
  gdb/features/Makefile
  gdb/features/aarch64-fpmr.c
  gdb/features/aarch64-fpmr.xml
Due: check-include-guards, check-gnu-style

Do not crash on recursive pointer types
  gdb/dwarf2/read.c
  gdb/testsuite/gdb.ada/recursive-access.exp
  gdb/testsuite/gdb.ada/recursive-access/pack.ads
  gdb/testsuite/gdb.ada/recursive-access/prog.adb
Due: check-gnu-style

[gdb] Fix '_ ("foo")'
  gdb/dwarf2/read-debug-names.c
  gdb/linux-thread-db.c
  gdb/riscv-linux-tdep.c
  gdb/source.c
  gdb/symfile.c
  gdb/symtab.c
  gdb/top.c
Due: check-gnu-style

[gdb/cli] Add missing _() for dump commands
  gdb/cli/cli-dump.c
Due: check-gnu-style

[gdb/i18n] Use c++ in po/gdbtext
  gdb/po/gdbtext
Due: none

gdb: use gdb::unordered_{set,map} at a few places
  gdb/aarch64-tdep.c
  gdb/amdgpu-tdep.c
  gdb/amdgpu-tdep.h
  gdb/arch/amd64-linux-tdesc.c
  gdb/arch/i386-linux-tdesc.c
  gdb/i386-tdep.c
  gdb/linux-nat.c
  gdb/solib-rocm.c
  gdb/solib-svr4.c
  gdb/x86-nat.c
Due: check-include-guards, check-gnu-style

[gdb] Rewrite producer_is_gcc and producer_is_clang
  gdb/producer.c
Due: check-gnu-style

[gdb] Return bool in producer_is_gcc
  gdb/producer.c
  gdb/producer.h
Due: check-include-guards, check-gnu-style

[gdb] Fix producer_is_gas comment
  gdb/producer.h
Due: check-include-guards, check-gnu-style

[gdb] Use nullptr instead of NULL in producer.[ch]
  gdb/producer.c
  gdb/producer.h
Due: check-include-guards, check-gnu-style

[gdb] Rewrite strings in producer_parsing_tests
  gdb/producer.c
Due: check-gnu-style

gdb/netbsd: fix fallout of thread_info ptr to ref change
  gdb/netbsd-nat.c
Due: check-gnu-style

gdb: revert std -> gdb unordered_map change in x86-nat.c
  gdb/x86-nat.c
Due: check-gnu-style

gdb/mips: fix lwp_info ptr -> ref
  gdb/mips-linux-nat.c
Due: check-gnu-style

gold: Treat symbols with version index 0 as unversioned
  elfcpp/elfcpp.h
  gold/dynobj.cc
  gold/symtab.cc
  gold/testsuite/Makefile.am
  gold/testsuite/Makefile.in
  gold/testsuite/ver_matching_test.sh
  gold/testsuite/ver_test_pr33577.sh
  gold/testsuite/ver_test_pr33577a.c
  gold/testsuite/ver_test_pr33577b.c
Due: none
