Repository bminor/binutils-gdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-include-guards, check-gnu-style

check-include-guards:
  name: check-include-guards
  language: python
  entry: gdb/check-include-guards.py

check-gnu-style:
  name: check-gnu-style
  language: script
  entry: gdb/contrib/check-gnu-style-pre-commit.sh
  verbose: true
  stages:
  - pre-commit

gdb/record: Speeding up recording in RISC-V
  gdb/riscv-tdep.c
Due: check-gnu-style

Avoid c-ctype.h in libinproctrace.so
  gdbsupport/common-utils.cc
Due: check-gnu-style

hppa64: Fix bfd_put_xx bfd argument in elf_hppa_final_link_relocate
  bfd/elf64-hppa.c
Due: none

Automatic date update in version.in
  bfd/version.h
Due: none

GDB: Add concept of variable-size registers to the regcache
  gdb/aarch64-tdep.c
  gdb/eval.c
  gdb/findvar.c
  gdb/frame.c
  gdb/record-full.c
  gdb/regcache.c
  gdb/regcache.h
  gdb/remote.c
  gdb/value.c
Due: check-include-guards, check-gnu-style

GDB: aarch64-linux: Load and store VG separately from other SVE registers
  gdb/aarch64-linux-nat.c
Due: check-gnu-style

Beginning of support for target description parameters
  gdb/features/gdb-target.dtd
  gdb/gdbtypes.c
  gdb/gdbtypes.h
  gdb/target-descriptions.c
  gdb/xml-tdesc.c
  gdbsupport/tdesc.cc
  gdbsupport/tdesc.h
Due: check-include-guards, check-gnu-style

Support unwinding tdesc parameters in the signal trampoline unwinder
  gdb/arch-utils.c
  gdb/dwarf2/frame.c
  gdb/frame-unwind.c
  gdb/gdbarch-gen.c
  gdb/gdbarch-gen.h
  gdb/gdbarch_components.py
  gdb/regcache.c
  gdb/target-descriptions.c
  gdb/tramp-frame.c
  gdb/tramp-frame.h
Due: check-include-guards, check-gnu-style

Convert Aarch64 SVE feature to use variable-size registers
  gdb/aarch64-linux-nat.c
  gdb/aarch64-linux-tdep.c
  gdb/aarch64-tdep.c
  gdb/aarch64-tdep.h
  gdb/arch/aarch64.c
  gdb/arch/aarch64.h
  gdb/features/Makefile
  gdb/features/aarch64-sve.c
  gdb/features/aarch64-sve.xml
  gdbserver/linux-aarch64-low.cc
  gdbserver/linux-aarch64-tdesc.cc
Due: check-include-guards, check-gnu-style

Make register_type () use the correct frame when resolving dynamic types ...
  gdb/dummy-frame.c
  gdb/eval.c
  gdb/frame-unwind.c
  gdb/regcache.c
  gdb/regcache.h
  gdb/value.c
Due: check-include-guards, check-gnu-style

Continuation of support for target description parameters
  gdb/arch-utils.c
  gdb/dwarf2/loc.c
  gdb/features/gdb-target.dtd
  gdb/frame-unwind.c
  gdb/frame-unwind.h
  gdb/frame.c
  gdb/frame.h
  gdb/gdbarch-gen.c
  gdb/gdbarch-gen.h
  gdb/gdbarch_components.py
  gdb/gdbtypes.c
  gdb/gdbtypes.h
  gdb/regcache.c
  gdb/regcache.h
  gdb/sentinel-frame.c
  gdb/target-descriptions.c
  gdb/target-descriptions.h
  gdb/xml-tdesc.c
  gdbsupport/tdesc.cc
  gdbsupport/tdesc.h
Due: check-include-guards, check-gnu-style

gdb/testsuite: Add test to exercise multi-threaded AArch64 SVE inferiors
  gdb/testsuite/gdb.arch/aarch64-sve-threads.c
  gdb/testsuite/gdb.arch/aarch64-sve-threads.exp
Due: none

GDB: remote: Update tdesc parameters and packet size ...
  gdb/regcache.c
  gdb/regcache.h
  gdb/remote.c
Due: check-include-guards, check-gnu-style

gdbserver: linux-aarch64: Add variable-size registers and tdesc parameters
  gdbserver/linux-aarch64-low.cc
Due: check-gnu-style

gdb: remote: Save the stop reply packet from vRun and use it
  gdb/process-stratum-target.h
  gdb/regcache.c
  gdb/remote.c
Due: check-include-guards, check-gnu-style

GDB: regcache: Invalidate variable-size registers ...
  gdb/aarch64-tdep.c
  gdb/arch-utils.c
  gdb/gdbarch-gen.c
  gdb/gdbarch-gen.h
  gdb/gdbarch_components.py
  gdb/regcache.c
  gdb/regcache.h
Due: check-include-guards, check-gnu-style

Add bool argument to fetch only one register
  gdb/aarch64-linux-nat.c
  gdb/aarch64-tdep.c
  gdb/aix-thread.c
  gdb/amd-dbgapi-target.c
  gdb/amd64-linux-nat.c
  gdb/bsd-uthread.c
  gdb/corelow.c
  gdb/inf-child.h
  gdb/ravenscar-thread.c
  gdb/record-btrace.c
  gdb/record-full.c
  gdb/regcache.c
  gdb/regcache.h
  gdb/remote.c
  gdb/sol-thread.c
  gdb/target-delegates-gen.c
  gdb/target.c
  gdb/target.h
  gdb/tracectf.c
  gdb/tracefile-tfile.c
Due: check-include-guards, check-gnu-style

gdbserver: Add support for variable-size registers
  gdb/regformats/regdef.h
  gdbserver/ax.cc
  gdbserver/regcache.cc
  gdbserver/regcache.h
  gdbserver/remote-utils.cc
  gdbserver/server.cc
  gdbserver/tdesc.cc
  gdbserver/tdesc.h
  gdbserver/tracepoint.cc
Due: check-include-guards, check-gnu-style

GDB: Allow passing regcache to resolve_dynamic_type ()
  gdb/dwarf2/loc.c
  gdb/dwarf2/loc.h
  gdb/frame.c
  gdb/gdbtypes.c
  gdb/gdbtypes.h
  gdb/gnu-v3-abi.c
  gdb/regcache.c
  gdb/regcache.h
Due: check-include-guards, check-gnu-style

gdbserver: Support target description parameters
  gdbserver/target.cc
  gdbserver/target.h
  gdbserver/tdesc.cc
  gdbserver/tdesc.h
  gdbsupport/tdesc.h
Due: check-include-guards, check-gnu-style

gdbserver: Implement p and P packets
  gdbserver/regcache.cc
  gdbserver/regcache.h
  gdbserver/server.cc
Due: check-include-guards, check-gnu-style

GDB: testsuite: Allow gdb.arch/aarch64-sve-sigunwind.exp for remote targets
  gdb/testsuite/gdb.arch/aarch64-sve-sigunwind.exp
Due: none

GDB: linux-nat: Make tdesc parameters available early
  gdb/linux-nat.c
  gdb/linux-nat.h
Due: check-include-guards, check-gnu-style

gdb: add block ordering predicate for ordering blocks in blockvector
  gdb/block.c
  gdb/block.h
Due: check-include-guards, check-gnu-style

gdb: use std::vector<> to hold on blocks in struct blockvector
  gdb/block.c
  gdb/block.h
  gdb/buildsym.c
  gdb/buildsym.h
  gdb/jit.c
  gdb/mdebugread.c
  gdb/symtab.c
  gdb/symtab.h
Due: check-include-guards, check-gnu-style

gdb: update mdebugread.c to use blockvector::block_less_than
  gdb/mdebugread.c
Due: check-gnu-style

Remove Py_TPFLAGS_CHECKTYPES
  gdb/python/py-value.c
  gdb/python/python-internal.h
Due: check-include-guards, check-gnu-style

Remove Python API checker defines
  gdb/python/py-arch.c
  gdb/python/py-auto-load.c
  gdb/python/py-block.c
  gdb/python/py-breakpoint.c
  gdb/python/py-cmd.c
  gdb/python/py-connection.c
  gdb/python/py-corefile.c
  gdb/python/py-disasm.c
  gdb/python/py-event.c
  gdb/python/py-event.h
  gdb/python/py-evtregistry.c
  gdb/python/py-evts.c
  gdb/python/py-finishbreakpoint.c
  gdb/python/py-frame.c
  gdb/python/py-function.c
  gdb/python/py-gdb-readline.c
  gdb/python/py-inferior.c
  gdb/python/py-infthread.c
  gdb/python/py-instruction.c
  gdb/python/py-lazy-string.c
  gdb/python/py-linetable.c
  gdb/python/py-membuf.c
  gdb/python/py-micmd.c
  gdb/python/py-objfile.c
  gdb/python/py-param.c
  gdb/python/py-progspace.c
  gdb/python/py-record-btrace.c
  gdb/python/py-record.c
  gdb/python/py-registers.c
  gdb/python/py-symbol.c
  gdb/python/py-symtab.c
  gdb/python/py-tui.c
  gdb/python/py-type.c
  gdb/python/py-unwind.c
  gdb/python/py-value.c
  gdb/python/py-xmethods.c
  gdb/python/python-internal.h
  gdb/python/python.c
Due: check-include-guards, check-gnu-style

Two bug fixes in mdict_free
  gdb/dictionary.c
Due: check-gnu-style

Free multidicts from blockvector
  gdb/block.c
  gdb/block.h
Due: check-include-guards, check-gnu-style

Remove iterate_over_symbols_terminated
  gdb/ada-lang.c
  gdb/symtab.c
  gdb/symtab.h
Due: check-include-guards, check-gnu-style

gdb: change find_pcs_for_symtab_line() to return entries instead of PCs
  gdb/linespec.c
  gdb/python/py-linetable.c
  gdb/symtab.c
  gdb/symtab.h
Due: check-include-guards, check-gnu-style

Remove buildsym_compunit::end_compunit_symtab_with_blockvector
  gdb/buildsym.c
  gdb/buildsym.h
Due: check-include-guards, check-gnu-style

Use bool in buildsym
  gdb/buildsym.c
  gdb/buildsym.h
  gdb/dwarf2/read.c
Due: check-include-guards, check-gnu-style

Remove get_context_stack_depth
  gdb/buildsym-legacy.c
  gdb/buildsym-legacy.h
  gdb/buildsym.h
Due: check-include-guards, check-gnu-style

Path conditions:
  check-include-guards: any of: ^(gdb(support|server)?)/.*\.h$, but not: .*/testsuite/.*
  check-gnu-style: any of: ^(gdb(support|server)?)/.*\.(c|h|cc)$, but not: .*/testsuite/.*
