Repository bminor/binutils-gdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-include-guards, check-gnu-style

.pre-commit-config.yaml:

# Git has the notion of hooks, which are custom scripts that are run on
# specific events.  One of these hooks is the pre-commit hook (located at
# .git/hooks/pre-commit), which is run when committing, before specifying a
# message.
#
# To ease management of the pre-commit hook, the pre-commit framework
# ( https://pre-commit.com ) was developed.  This is the configuration file
# for that framework.  It contains a list of hooks, with information on where
# to find them and on which files to run them.
#
# See here ( https://pre-commit.com/#install ) on how to install the
# pre-commit framework.
#
# To run all the hooks specified in this file manually, you can do:
# $ pre-commit run
#
# To run some hooks and skip others, you can use environment variable SKIP:
# $ SKIP=flake8,isort pre-commit run
#
# To install the pre-commit framework in the repository in order to run the
# hooks on every commit, do:
# $ pre-commit install
#
# After installing the pre-commit framework, you can skip running all
# pre-commit hooks using --no-verify, or some using SKIP.
# $ git commit --no-verify ...
# $ SKIP=flake8,isort git commit ...
#
# In case some of these hooks don't work for you, you can make the SKIP
# setting permanent by:
# - setting SKIP in your environment
#   (this will affect all repositories where it is set)
# - setting SKIP in .git/hooks/pre-commit by adding "export SKIP=..."
#   (this will affect only this repository, but it may have to be re-added
#    if .git/hooks/pre-commit is regenerated)
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

minimum_pre_commit_version: 3.2.0
default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit]
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
      - id: black
        types_or: [file]
        files: 'gdb/.*\.py(\.in)?$'
  - repo:  https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
    - id: flake8
      types_or: [file]
      # Run this for (in glob notation):
      #
      #  - gdb/gdb-gdb.py.in
      #  - gdb/*.py
      #  - gdb/python/**/*.py
      #  - gdb/testsuite/*.py
      #
      files: '^gdb/(gdb-gdb\.py\.in|[^/]+\.py|python/.+\.py|testsuite/[^/]+\.py)$'
      args: [--config, gdb/setup.cfg]
  - repo: https://github.com/pycqa/isort
    rev: 6.1.0
    hooks:
    - id: isort
      types_or: [file]
      files: 'gdb/.*\.py(\.in)?$'
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    - id: codespell
      files: '^(gdbsupport|gdbserver|gdb/(tui|target|data-directory|po|system-gdbinit|mi|syscalls|arch|regformats|compile|python|guile|config|unittests|cli|testsuite/gdb.(ctf|dap|debuginfod|gdb|go|guile|mi|modula2|objc|opencl|opt|pascal|perf|replay|reverse|rocm|server|stabs|testsuite|tui|xml)))/'
      args: [--config, gdb/contrib/setup.cfg]
  - repo: local
    hooks:
    - id: check-include-guards
      name: check-include-guards
      language: python
      entry: gdb/check-include-guards.py
      # All gdb header files, but not headers in the test suite.
      files: '^(gdb(support|server)?)/.*\.h$'
      exclude: '.*/testsuite/.*'
    - id: codespell-log
      name: codespell-log
      language: script
      entry: gdb/contrib/codespell-log.sh
      verbose: true
      always_run: true
      stages: [commit-msg]
    - id: check-gnu-style
      name: check-gnu-style
      language: script
      entry: gdb/contrib/check-gnu-style-pre-commit.sh
      files: '^(gdb(support|server)?)/.*\.(c|h|cc)$'
      exclude: '.*/testsuite/.*'
      verbose: true
      stages: [pre-commit]
  - repo: https://github.com/nmoroze/tclint
    rev: v0.6.1
    hooks:
    - id: tclint
      args: [--config, gdb/tclint.toml]
      types_or: [file]
      files: 'gdb/testsuite/.*\.(exp|tcl)$'

Automatic date update in version.in
  bfd/version.h
Due: none

s390: Emit relocation for 32-bit immediate operand
  gas/config/tc-s390.c
  gas/testsuite/gas/s390/zarch-reloc.d
  gas/testsuite/gas/s390/zarch-reloc.s
Due: none

gdb: change blockvector_contains_pc to be a method
  gdb/block.c
  gdb/block.h
  gdb/dwarf2/read.c
Due: check-include-guards, check-gnu-style

gdb: change find_block_in_blockvector to be a method
  gdb/block.c
  gdb/block.h
Due: check-include-guards, check-gnu-style

hppa64: Fix some issues handling dynamic relocaltions
  bfd/elf64-hppa.c
Due: none

gas: sframe: fix PR gas/33277
  gas/gen-sframe.c
  gas/testsuite/gas/cfi-sframe/cfi-sframe-x86_64-empty-pr33277.d
  gas/testsuite/gas/cfi-sframe/cfi-sframe-x86_64-empty-pr33277.s
  gas/testsuite/gas/cfi-sframe/cfi-sframe.exp
Due: none

include: sframe: fix minor typos in sframe_decode
  include/sframe-api.h
Due: none

[gdb/testsuite] Remove gdb.dwarf2/dw2-ranges.exp
  gdb/testsuite/gdb.dwarf2/dw2-ranges-2.c
  gdb/testsuite/gdb.dwarf2/dw2-ranges-3.c
  gdb/testsuite/gdb.dwarf2/dw2-ranges.c
  gdb/testsuite/gdb.dwarf2/dw2-ranges.exp
Due: none

[gdb/testsuite] Yet another attempt to fix gdb.threads/thread-specific-bp.exp
  gdb/testsuite/gdb.threads/thread-specific-bp.exp
Due: none

LD/doc: Add missing `--push-state' option markup
  ld/ld.texi
Due: none

BFD: Remove unused file position member of `struct orl'
  bfd/archive.c
  bfd/archive64.c
  bfd/coff-rs6000.c
  bfd/ecoff.c
  bfd/libbfd.h
Due: none

gdb/testsuite: remove unused "variable" statement
  gdb/testsuite/lib/dwarf.exp
Due: none

binutils/MAINTAINERS: list new gprofng maintainers
  binutils/MAINTAINERS
Due: none

gdb: make command classes be bitmaps
  gdb/cli/cli-decode.c
  gdb/cli/cli-decode.h
  gdb/cli/cli-dump.c
  gdb/command.h
Due: check-include-guards, check-gnu-style

gdb: add "essential" command class
  gdb/NEWS
  gdb/breakpoint.c
  gdb/cli/cli-cmds.c
  gdb/cli/cli-decode.c
  gdb/cli/cli-decode.h
  gdb/command.h
  gdb/guile/scm-cmd.c
  gdb/infcmd.c
  gdb/printcmd.c
  gdb/python/py-cmd.c
  gdb/stack.c
  gdb/testsuite/gdb.base/page.exp
  gdb/typeprint.c
  gdb/unittests/command-def-selftests.c
Due: check-include-guards, check-gnu-style

RISC-V: Fix missing instruction classes in error messages
  bfd/elfxx-riscv.c
Due: none

[gdb/testsuite] Fix DUPLICATE in callfuncs.exp
  gdb/testsuite/gdb.base/callfuncs.exp
Due: none

gdb/python: fix gdb.Block repr output
  gdb/python/py-block.c
  gdb/testsuite/gdb.dwarf2/imported-unit-c.exp
Due: check-gnu-style

Fix build after command_classes change
  gdb/guile/scm-cmd.c
Due: check-gnu-style

gas: Default to -mrelax-relocations=no on Solaris/x86 [PR19520]
  gas/config.in
  gas/config/tc-i386.c
  gas/configure
  gas/configure.ac
  gas/doc/c-i386.texi
  gas/testsuite/gas/i386/gotx-default.d
  gas/testsuite/gas/i386/gotx.s
  gas/testsuite/gas/i386/i386.exp
  gas/testsuite/gas/i386/no-gotx-default.d
Due: none

gdb/testsuite: adjust add-inferior test for native-extended-gdbserver board
  gdb/testsuite/gdb.base/with.exp
Due: none

Move symbol::value_block to symtab.c
  gdb/symtab.c
  gdb/symtab.h
Due: check-include-guards, check-gnu-style

sframe: Minor format string fix in sframe_decode
  libsframe/sframe.c
Due: none

Fix use of "main" in gdb_index with C++
  gdb/dwarf2/cooked-index.c
  gdb/testsuite/gdb.base/fission-macro.exp
Due: check-gnu-style

x86: support SALC
  gas/testsuite/gas/i386/opcode-intel.d
  gas/testsuite/gas/i386/opcode-suffix.d
  gas/testsuite/gas/i386/opcode.d
  gas/testsuite/gas/i386/opcode.s
  opcodes/i386-dis.c
  opcodes/i386-mnem.h
  opcodes/i386-opc.tbl
  opcodes/i386-tbl.h
Due: none

bfd: move ATTRIBUTE_HIDDEN to separate header
  bfd/Makefile.am
  bfd/Makefile.in
  bfd/hidden.h
  bfd/libbfd-in.h
  bfd/libbfd.h
  bfd/po/SRC-POTFILES.in
Due: none

bfd/ELF: mark internal functions hidden
  bfd/elf-bfd.h
Due: none

bfd/ELF: mark internal aarch64 functions hidden
  bfd/elfxx-aarch64.h
Due: none

bfd/ELF: mark internal IA-64 functions hidden
  bfd/elfxx-ia64.h
Due: none
