Repository bminor/binutils-gdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-include-guards, check-gnu-style

check-include-guards:
  name: check-include-guards
  language: python
  entry: gdb/check-include-guards.py

check-gnu-style:
  name: check-gnu-style
  language: script
  entry: gdb/contrib/check-gnu-style-pre-commit.sh
  verbose: true
  stages:
  - pre-commit

hppa64: Fix bogus warning from elf_hppa_final_link_relocate
  bfd/elf64-hppa.c
Due: none

LoongArch: set PRSTATUS_SIZE=0x1e0 to match kernel's struct elf_prstatus size
  bfd/elfnn-loongarch.c
Due: none

gdb/solib-svr4: remove unnecessary assert and variable
  gdb/solib-svr4.c
Due: check-gnu-style

Automatic date update in version.in
  bfd/version.h
Due: none

libsframe: bugfix in flip_sframe
  libsframe/sframe.c
Due: none

PowerPC: Skip base type RTTI tests before inferior start
  gdb/testsuite/gdb.cp/typeid.exp
Due: none

libsframe: testsuite: remove usage of ##__VA_ARGS__
  libsframe/testsuite/sframe-test.h
Due: none

gdb: fix some whitespace issues
  gdb/python/py-unwind.c
  gdb/python/python-internal.h
  gdb/s390-tdep.c
Due: check-include-guards, check-gnu-style

Tidy .eh_frame rawsize manipulation
  bfd/elf-bfd.h
  bfd/elf-eh-frame.c
  bfd/elflink.c
Due: none

PR 33453 allow extra for .eh_frame in final link buffer
  bfd/elflink.c
Due: none

PR 33453 linker generated .eh_frame
  bfd/elf-bfd.h
  bfd/elf-eh-frame.c
  bfd/elf32-ppc.c
  bfd/elf64-ppc.c
  bfd/elf64-s390.c
  bfd/elfxx-x86.c
Due: none

Obsolete support for Solaris < 10
  bfd/config.bfd
Due: none

[gdb/tdep] Simplify i386_thiscall_push_dummy_call
  gdb/i386-tdep.c
Due: check-gnu-style

gdb: make test name initials lowercase in gdb.base/gdbvars.exp
  gdb/testsuite/gdb.base/gdbvars.exp
Due: none

gdb: Make startup message more user friendly
  gdb/main.c
  gdb/top.c
  gdb/top.h
Due: check-include-guards, check-gnu-style

gdb/MAINTAINERS: add Christina Schimpe as x86-64 and i386 maintainer
  gdb/MAINTAINERS
Due: none

bfd/Dwarf: Add suitable defines to use at call and use sites
  binutils/dwarf.c
Due: none

ld: support most modifiers for printf() like vfinfo() format specifiers
  bfd/elfxx-x86.c
  ld/ldmisc.c
  ld/testsuite/ld-x86-64/pr31868a.l
  ld/testsuite/ld-x86-64/pr31868b.l
  ld/testsuite/ld-x86-64/pr31868c.l
Due: none

x86: drop a few excess AVX512VL from opcode table
  opcodes/i386-opc.tbl
  opcodes/i386-tbl.h
Due: none

[gdb/testsuite] Fix three typos in gdb.base/long_long.exp
  gdb/testsuite/gdb.base/long_long.exp
Due: none

[gdb/build, c++20] Fix UTF-8 string literal usage
  gdb/top.c
Due: check-gnu-style

gdb: update blockvector::lookup
  gdb/block.c
Due: check-gnu-style

gdb: add unittests for blockvector lookup functions
  gdb/Makefile.in
  gdb/block-selftests.c
Due: check-gnu-style

gdb: change blockvector::contains() to handle blockvectors with "holes"
  gdb/block.c
Due: check-gnu-style

gdb: update is_addr_in_objfile to support "dynamic" objfiles
  gdb/objfiles.c
  gdb/objfiles.h
  gdb/symtab.c
  gdb/symtab.h
  gdb/testsuite/gdb.base/jit-reader.exp
Due: check-include-guards, check-gnu-style

gdb/testsuite: fix a few typos
  gdb/testsuite/gdb.base/ctf-ptype.exp
  gdb/testsuite/gdb.base/fileio.c
  gdb/testsuite/gdb.base/ptype.exp
  gdb/testsuite/gdb.dwarf2/ada-valprint-error.exp
  gdb/testsuite/gdb.dwarf2/dw2-fixed-point.exp
  gdb/testsuite/gdb.python/py-explore.exp
  gdb/testsuite/lib/gdb.exp
Due: none

gprofng: protect against standard library macros
  gprofng/src/collector_module.h
Due: none

Path conditions:
  check-include-guards: any of: ^(gdb(support|server)?)/.*\.h$, but not: .*/testsuite/.*
  check-gnu-style: any of: ^(gdb(support|server)?)/.*\.(c|h|cc)$, but not: .*/testsuite/.*
