Repository bminor/binutils-gdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-include-guards, check-gnu-style

.pre-commit-config.yaml:

# Git has the notion of hooks, which are custom scripts that are run on
# specific events.  One of these hooks is the pre-commit hook (located at
# .git/hooks/pre-commit), which is run when committing, before specifying a
# message.
#
# To ease management of the pre-commit hook, the pre-commit framework
# ( https://pre-commit.com ) was developed.  This is the configuration file
# for that framework.  It contains a list of hooks, with information on where
# to find them and on which files to run them.
#
# See here ( https://pre-commit.com/#install ) on how to install the
# pre-commit framework.
#
# To run all the hooks specified in this file manually, you can do:
# $ pre-commit run
#
# To run some hooks and skip others, you can use environment variable SKIP:
# $ SKIP=flake8,isort pre-commit run
#
# To install the pre-commit framework in the repository in order to run the
# hooks on every commit, do:
# $ pre-commit install
#
# After installing the pre-commit framework, you can skip running all
# pre-commit hooks using --no-verify, or some using SKIP.
# $ git commit --no-verify ...
# $ SKIP=flake8,isort git commit ...
#
# In case some of these hooks don't work for you, you can make the SKIP
# setting permanent by:
# - setting SKIP in your environment
#   (this will affect all repositories where it is set)
# - setting SKIP in .git/hooks/pre-commit by adding "export SKIP=..."
#   (this will affect only this repository, but it may have to be re-added
#    if .git/hooks/pre-commit is regenerated)
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

minimum_pre_commit_version: 3.2.0
default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit]
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
      - id: black
        types_or: [file]
        files: 'gdb/.*\.py(\.in)?$'
  - repo:  https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
    - id: flake8
      types_or: [file]
      # Run this for (in glob notation):
      #
      #  - gdb/gdb-gdb.py.in
      #  - gdb/*.py
      #  - gdb/python/**/*.py
      #  - gdb/testsuite/*.py
      #
      files: '^gdb/(gdb-gdb\.py\.in|[^/]+\.py|python/.+\.py|testsuite/[^/]+\.py)$'
      args: [--config, gdb/setup.cfg]
  - repo: https://github.com/pycqa/isort
    rev: 6.1.0
    hooks:
    - id: isort
      types_or: [file]
      files: 'gdb/.*\.py(\.in)?$'
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    - id: codespell
      files: '^(gdbsupport|gdbserver|gdb/(tui|target|data-directory|po|system-gdbinit|mi|syscalls|arch|regformats|compile|python|guile|config|unittests|cli|testsuite/gdb.(ctf|dap|debuginfod|gdb|go|guile|mi|modula2|objc|opencl|opt|pascal|perf|replay|reverse|rocm|server|stabs|testsuite|tui|xml)))/'
      args: [--config, gdb/contrib/setup.cfg]
  - repo: local
    hooks:
    - id: check-include-guards
      name: check-include-guards
      language: python
      entry: gdb/check-include-guards.py
      # All gdb header files, but not headers in the test suite.
      files: '^(gdb(support|server)?)/.*\.h$'
      exclude: '.*/testsuite/.*'
    - id: codespell-log
      name: codespell-log
      language: script
      entry: gdb/contrib/codespell-log.sh
      verbose: true
      always_run: true
      stages: [commit-msg]
    - id: check-gnu-style
      name: check-gnu-style
      language: script
      entry: gdb/contrib/check-gnu-style-pre-commit.sh
      files: '^(gdb(support|server)?)/.*\.(c|h|cc)$'
      exclude: '.*/testsuite/.*'
      verbose: true
      stages: [pre-commit]
  - repo: https://github.com/nmoroze/tclint
    rev: v0.6.1
    hooks:
    - id: tclint
      args: [--config, gdb/tclint.toml]
      types_or: [file]
      files: 'gdb/testsuite/.*\.(exp|tcl)$'

[gdb/testsuite] Fix typo IBM'x -> IBM's
  gdb/testsuite/gdb.base/nodebug.exp
  gdb/testsuite/lib/compiler.c
Due: none

[gdb/testsuite] Fix typo IBM'x -> IBM's some more
  gdb/testsuite/lib/compiler.cc
Due: none

Automatic date update in version.in
  bfd/version.h
Due: none

gdb: symbol_search objects of different types are not the same
  gdb/symtab.c
  gdb/testsuite/gdb.base/info-types.exp.tcl
  gdb/testsuite/gdb.base/type-and-typedef.c
  gdb/testsuite/gdb.base/type-and-typedef.exp
Due: check-gnu-style

libctf: create, types: variables and datasecs (REVIEW NEEDED)
  include/ctf-api.h
  libctf/ctf-create.c
  libctf/ctf-decl.c
  libctf/ctf-impl.h
  libctf/ctf-lookup.c
  libctf/ctf-types.c
  libctf/libctf.ver
Due: none

libctf: create, types: functions, linkage, arg names (API ADVICE)
  include/ctf-api.h
  libctf/ctf-create.c
  libctf/ctf-decl.c
  libctf/ctf-lookup.c
  libctf/ctf-types.c
  libctf/libctf.ver
Due: none

libctf, types: ctf_type_kind_{iter,next} et al
  include/ctf-api.h
  libctf/ctf-impl.h
  libctf/ctf-types.c
  libctf/libctf.ver
Due: none

gdb: remove attempted type de-duplication when building gdb-index
  gdb/NEWS
  gdb/dwarf2/index-write.c
  gdb/dwarf2/read-gdb-index.c
  gdb/testsuite/gdb.base/gdb-index-many-types-1.c
  gdb/testsuite/gdb.base/gdb-index-many-types-2.c
  gdb/testsuite/gdb.base/gdb-index-many-types-3.c
  gdb/testsuite/gdb.base/gdb-index-many-types.exp
  gdb/testsuite/gdb.base/gdb-index-many-types.h
  gdb/testsuite/gdb.base/gdb-index-many-types.py
  gdb/testsuite/gdb.base/gold-gdb-index.exp
Due: check-gnu-style

gdb: fix flake8 warnings in gdb.base/gdb-index-many-types.py
  gdb/testsuite/gdb.base/gdb-index-many-types.py
Due: none

pre-commit: bump black to 25.11.0
  .pre-commit-config.yaml
Due: none

PowerPC: Support for Controlled Cluster Memory (RFC02689)
  gas/testsuite/gas/ppc/future.d
  gas/testsuite/gas/ppc/future.s
  opcodes/ppc-opc.c
Due: none

PowerPC: Add support for RFC02660 - Context Switch Instruction
  gas/testsuite/gas/ppc/future.d
  gas/testsuite/gas/ppc/future.s
  opcodes/ppc-opc.c
Due: none

objcopy binary symbol type check
  binutils/testsuite/binutils-all/objcopy.exp
Due: none

bfd/ELF: loongarch_{larch_reloc_name_lookup,adjust_reloc_bitsfield}() are exposed to gas
  bfd/elfnn-loongarch.c
  bfd/elfxx-loongarch.c
  bfd/elfxx-loongarch.h
  gas/config/loongarch-lex.h
  gas/config/loongarch-parse.y
  gas/config/tc-loongarch.c
Due: none

bfd/ELF: nds32_convert_{16_to_32,32_to_16}() are exposed to gas
  bfd/elf32-nds32.c
  bfd/elf32-nds32.h
  gas/config/tc-nds32.c
Due: none

bfd/ELF: properly mark bfd_elf_{,gc_common_}final_link() as private
  bfd/elf-bfd.h
  bfd/elf32-arm.c
  bfd/elf32-bfin.c
  bfd/elf32-cris.c
  bfd/elf32-hppa.c
  bfd/elf32-m68k.c
  bfd/elf32-rx.c
  bfd/elf32-spu.c
  bfd/elf32-tic6x.c
  bfd/elf32-vax.c
  bfd/elf64-alpha.c
  bfd/elf64-hppa.c
  bfd/elf64-ia64-vms.c
  bfd/elf64-mmix.c
  bfd/elflink.c
  bfd/elfnn-ia64.c
  bfd/elfxx-mips.c
  bfd/elfxx-target.h
Due: none

s390: Increment PC-relative relocation count for PC24DBL relocs
  bfd/elf64-s390.c
Due: none

s390: Do not emit orphaned GOT entry for TLS IE to LE transition
  bfd/elf32-s390.c
  bfd/elf64-s390.c
  ld/testsuite/ld-s390/tlsbin_64.dd
  ld/testsuite/ld-s390/tlsbin_64.sd
Due: none

s390: Mention GOTIE20 relocation in TLS related comment
  bfd/elf32-s390.c
  bfd/elf64-s390.c
Due: none

s390: Check sreldynrelro in elf_s390_finish_dynamic_symbol
  bfd/elf64-s390.c
Due: none

[gdb/testsuite] Fix gdb.rust/methods.exp on i686-linux
  gdb/testsuite/gdb.rust/generics.rs
  gdb/testsuite/gdb.rust/methods.rs
Due: none

Mark Pascal as case-insensitive
  gdb/p-lang.h
Due: check-include-guards, check-gnu-style

Rename variable in DAP breakpoint.py
  gdb/python/lib/gdb/dap/breakpoint.py
Due: none

Have DAP handle multiple breakpoints at same location
  gdb/python/lib/gdb/dap/breakpoint.py
  gdb/testsuite/gdb.dap/multi-break.c
  gdb/testsuite/gdb.dap/multi-break.exp
Due: none

Reject negative children in DAP
  gdb/python/lib/gdb/dap/varref.py
Due: none

gdb, gdbsupport: use DISABLE_COPY_AND_ASSIGN in a few spots
  gdb/cli/cli-script.c
  gdb/interps.h
  gdb/language.h
  gdb/skip.c
  gdb/target-descriptions.c
  gdb/ui-out.h
  gdb/utils.h
  gdbsupport/buildargv.h
  gdbsupport/cxx-thread.h
  gdbsupport/gdb_argv_vec.h
Due: check-include-guards, check-gnu-style

gdbserver: adjust init_target_desc call in tic6x_read_description
  gdbserver/linux-tic6x-low.cc
Due: check-gnu-style

gdb: remove tic6x .dat files
  gdb/config/djgpp/fnchange.lst
  gdb/regformats/tic6x-c62x-linux.dat
  gdb/regformats/tic6x-c64x-linux.dat
  gdb/regformats/tic6x-c64xp-linux.dat
  gdbserver/configure.srv
  gdbserver/linux-tic6x-low.cc
Due: check-gnu-style

gdb: add microblaze-linux.xml to XMLTOC, regenerate microblaze-linux.c
  gdb/features/Makefile
  gdb/features/microblaze-linux.c
Due: check-gnu-style

MIPS/GAS: Select symbolic GPR and FPR names based on current ABI setting
  gas/config/tc-mips.c
  gas/testsuite/gas/mips/fpr-asm-names-32.d
  gas/testsuite/gas/mips/fpr-asm-names-64.d
  gas/testsuite/gas/mips/fpr-asm-names-eabi32.d
  gas/testsuite/gas/mips/fpr-asm-names-eabi64.d
  gas/testsuite/gas/mips/fpr-asm-names-n32.d
  gas/testsuite/gas/mips/fpr-asm-names-o64.d
  gas/testsuite/gas/mips/fpr-asm-names.s
  gas/testsuite/gas/mips/gpr-asm-names-32.d
  gas/testsuite/gas/mips/gpr-asm-names-64.d
  gas/testsuite/gas/mips/gpr-asm-names-eabi32.d
  gas/testsuite/gas/mips/gpr-asm-names-eabi64.d
  gas/testsuite/gas/mips/gpr-asm-names-n32.d
  gas/testsuite/gas/mips/gpr-asm-names-o64.d
  gas/testsuite/gas/mips/gpr-asm-names.s
  gas/testsuite/gas/mips/mips.exp
Due: none

shared.exp: Use pr14862.map to build libpr14862.so
  ld/testsuite/ld-elf/shared.exp
Due: none

ld: Don't use -mdirect-extern-access for LoongArch
  ld/testsuite/config/default.exp
Due: none
