Repository bminor/binutils-gdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-include-guards, check-gnu-style

check-include-guards:
  name: check-include-guards
  language: python
  entry: gdb/check-include-guards.py

check-gnu-style:
  name: check-gnu-style
  language: script
  entry: gdb/contrib/check-gnu-style-pre-commit.sh
  verbose: true
  stages:
  - pre-commit

bfd: move merge_info from ELF to general link hash table
  bfd/elf-bfd.h
  bfd/elflink.c
  bfd/linker.c
  include/bfdlink.h
Due: none

bfd: move sec_info from ELF to general section struct
  bfd/bfd-in2.h
  bfd/elf-bfd.h
  bfd/elf-eh-frame.c
  bfd/elf-m10300.c
  bfd/elf-sframe.c
  bfd/elf.c
  bfd/elf32-nds32.c
  bfd/elf32-ppc.c
  bfd/elf32-rl78.c
  bfd/elf32-rx.c
  bfd/elf64-alpha.c
  bfd/elf64-ia64-vms.c
  bfd/elflink.c
  bfd/elfnn-ia64.c
  bfd/elfnn-loongarch.c
  bfd/elfnn-riscv.c
  bfd/elfxx-mips.c
  bfd/libbfd.h
  bfd/section.c
Due: none

bfd: simplify _bfd_{add_merge,write_merged}_section() interface
  bfd/elflink.c
  bfd/libbfd-in.h
  bfd/libbfd.h
  bfd/merge.c
Due: none

bfd: simplify _bfd_merged_section_offset() interface
  bfd/elf-m10300.c
  bfd/elf.c
  bfd/elf32-nds32.c
  bfd/elf32-ppc.c
  bfd/elf32-rl78.c
  bfd/elf32-rx.c
  bfd/elf64-alpha.c
  bfd/elf64-ia64-vms.c
  bfd/elflink.c
  bfd/elfnn-ia64.c
  bfd/elfnn-loongarch.c
  bfd/elfnn-riscv.c
  bfd/elfxx-mips.c
  bfd/libbfd-in.h
  bfd/libbfd.h
  bfd/merge.c
Due: none

bfd: simplify _bfd_{link,write,discard}_section_stabs() interface
  bfd/coff-bfd.h
  bfd/cofflink.c
  bfd/elf.c
  bfd/elflink.c
  bfd/libbfd.h
  bfd/stabs.c
Due: none

bfd: generalize _bfd_elf_merge_sections()
  bfd/bfd-in2.h
  bfd/elf-bfd.h
  bfd/elflink.c
  bfd/elfxx-target.h
  bfd/libbfd-in.h
  bfd/libbfd.h
  bfd/linker.c
  bfd/merge.c
  bfd/reloc.c
  bfd/syms.c
  ld/testsuite/ld-x86-64/pr19013-x32.d
  ld/testsuite/ld-x86-64/pr19013.d
Due: none

bfd: section merging for PE/COFF images
  bfd/coffgen.c
  bfd/cofflink.c
  bfd/merge.c
  bfd/peicode.h
Due: none

z80, gas: follow historical assemblers and allow "op A,x" and "op x"
  gas/config/tc-z80.c
Due: none

[gdb/testsuite] Remove gdb.base/gdbindex-stabs.exp
  gdb/testsuite/gdb.base/gdbindex-stabs-dwarf.c
  gdb/testsuite/gdb.base/gdbindex-stabs.c
  gdb/testsuite/gdb.base/gdbindex-stabs.exp
Due: none

ld: testsuite: xfail ld-elf/compress1a etc. on Solaris/sparcv9 [PR25802]
  ld/testsuite/ld-elf/compress1a.d
  ld/testsuite/ld-elf/compressed1a.d
  ld/testsuite/ld-elf/eh5.d
  ld/testsuite/ld-gc/all-debug-sections.d
Due: none

gdb: replace use of alloca with std::string in openp
  gdb/source.c
Due: check-gnu-style

gdb: add gdb_rl_tilde_expand util
  gdb/auto-load.c
  gdb/breakpoint.c
  gdb/cli/cli-cmds.c
  gdb/cli/cli-dump.c
  gdb/cli/cli-setshow.c
  gdb/compile/compile-object-load.c
  gdb/completer.c
  gdb/corelow.c
  gdb/exec.c
  gdb/gcore.c
  gdb/jit.c
  gdb/psymtab.c
  gdb/python/python.c
  gdb/solib.c
  gdb/source.c
  gdb/symfile.c
  gdb/symmisc.c
  gdb/target-descriptions.c
  gdb/tracefile-tfile.c
  gdb/utils.c
  gdb/utils.h
Due: check-include-guards, check-gnu-style

gdb: remove TYPE_DATA_LOCATION_ADDR macro
  gdb/gdbtypes.h
  gdb/value.c
Due: check-include-guards, check-gnu-style

gdb: remove TYPE_DATA_LOCATION_KIND
  gdb/gdbtypes.c
  gdb/gdbtypes.h
Due: check-include-guards, check-gnu-style

gdb: remove TYPE_DATA_LOCATION_BATON macro
  gdb/gdbtypes.h
Due: check-include-guards, check-gnu-style

gdb: remove TYPE_*_PROP macros
  gdb/f-lang.c
  gdb/f-typeprint.c
  gdb/gdbtypes.c
  gdb/gdbtypes.h
  gdb/value.c
Due: check-include-guards, check-gnu-style

Handle dynamic DW_AT_bit_size
  gdb/dwarf2/read.c
  gdb/gdbtypes.c
  gdb/gdbtypes.h
  gdb/testsuite/gdb.dwarf2/dynamic-bit-size.exp
Due: check-include-guards, check-gnu-style

gdb/reverse: update error message for "reverse-" commands
  gdb/reverse.c
Due: check-gnu-style

BFD: Fix function prototype breakage through stabs.c
  bfd/bfd-in2.h
  bfd/section.c
  bfd/stabs.c
Due: none

elf: Drop the FIXME comment in set_symbol_value
  bfd/elflink.c
Due: none

Automatic date update in version.in
  bfd/version.h
Due: none

hppa64: Fix linking of linux kernel
  bfd/elf64-hppa.c
Due: none

hppa64: Mostly fix symbol versioning support
  bfd/elf64-hppa.c
Due: none

gdb/help: Update help message for target record-core
  gdb/record-full.c
Due: check-gnu-style

Add more details to the linker documentation for the --hash-size and --max-cache-size options
  ld/ld.texi
Due: none

gdbsupport: bump unordered_dense library to 4.6.0
  gdbsupport/unordered_dense.h
Due: check-include-guards, check-gnu-style

gdb/dwarf: make some fields of dwarf2_per_cu private
  gdb/dwarf2/read.h
Due: check-include-guards, check-gnu-style

hppa64: Handle R_PARISC_EPLT relocations for local symbols
  bfd/elf64-hppa.c
Due: none

hppa64: Remove code to generate dot symbols for EPLT relocations
  bfd/elf64-hppa.c
Due: none

Path conditions:
  check-include-guards: any of: ^(gdb(support|server)?)/.*\.h$, but not: .*/testsuite/.*
  check-gnu-style: any of: ^(gdb(support|server)?)/.*\.(c|h|cc)$, but not: .*/testsuite/.*
