Repository bminor/binutils-gdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-include-guards, check-gnu-style

.pre-commit-config.yaml:

# Git has the notion of hooks, which are custom scripts that are run on
# specific events.  One of these hooks is the pre-commit hook (located at
# .git/hooks/pre-commit), which is run when committing, before specifying a
# message.
#
# To ease management of the pre-commit hook, the pre-commit framework
# ( https://pre-commit.com ) was developed.  This is the configuration file
# for that framework.  It contains a list of hooks, with information on where
# to find them and on which files to run them.
#
# See here ( https://pre-commit.com/#install ) on how to install the
# pre-commit framework.
#
# To run all the hooks specified in this file manually, you can do:
# $ pre-commit run
#
# To run some hooks and skip others, you can use environment variable SKIP:
# $ SKIP=flake8,isort pre-commit run
#
# To install the pre-commit framework in the repository in order to run the
# hooks on every commit, do:
# $ pre-commit install
#
# After installing the pre-commit framework, you can skip running all
# pre-commit hooks using --no-verify, or some using SKIP.
# $ git commit --no-verify ...
# $ SKIP=flake8,isort git commit ...
#
# In case some of these hooks don't work for you, you can make the SKIP
# setting permanent by:
# - setting SKIP in your environment
#   (this will affect all repositories where it is set)
# - setting SKIP in .git/hooks/pre-commit by adding "export SKIP=..."
#   (this will affect only this repository, but it may have to be re-added
#    if .git/hooks/pre-commit is regenerated)
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

minimum_pre_commit_version: 3.2.0
default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit]
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
      - id: black
        types_or: [file]
        files: 'gdb/.*\.py(\.in)?$'
  - repo:  https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
    - id: flake8
      types_or: [file]
      # Run this for (in glob notation):
      #
      #  - gdb/gdb-gdb.py.in
      #  - gdb/*.py
      #  - gdb/python/**/*.py
      #  - gdb/testsuite/*.py
      #
      files: '^gdb/(gdb-gdb\.py\.in|[^/]+\.py|python/.+\.py|testsuite/[^/]+\.py)$'
      args: [--config, gdb/setup.cfg]
  - repo: https://github.com/pycqa/isort
    rev: 6.1.0
    hooks:
    - id: isort
      types_or: [file]
      files: 'gdb/.*\.py(\.in)?$'
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    - id: codespell
      files: '^(gdbsupport|gdbserver|gdb/(tui|target|data-directory|po|system-gdbinit|mi|syscalls|arch|regformats|compile|python|guile|config|unittests|cli|testsuite/gdb.(ctf|dap|debuginfod|gdb|go|guile|mi|modula2|objc|opencl|opt|pascal|perf|replay|reverse|rocm|server|stabs|testsuite|tui|xml)))/'
      args: [--config, gdb/contrib/setup.cfg]
  - repo: local
    hooks:
    - id: check-include-guards
      name: check-include-guards
      language: python
      entry: gdb/check-include-guards.py
      # All gdb header files, but not headers in the test suite.
      files: '^(gdb(support|server)?)/.*\.h$'
      exclude: '.*/testsuite/.*'
    - id: codespell-log
      name: codespell-log
      language: script
      entry: gdb/contrib/codespell-log.sh
      verbose: true
      always_run: true
      stages: [commit-msg]
    - id: check-gnu-style
      name: check-gnu-style
      language: script
      entry: gdb/contrib/check-gnu-style-pre-commit.sh
      files: '^(gdb(support|server)?)/.*\.(c|h|cc)$'
      exclude: '.*/testsuite/.*'
      verbose: true
      stages: [pre-commit]
  - repo: https://github.com/nmoroze/tclint
    rev: v0.6.1
    hooks:
    - id: tclint
      args: [--config, gdb/tclint.toml]
      types_or: [file]
      files: 'gdb/testsuite/.*\.(exp|tcl)$'

gdb/dwarf: clarify meaning dwarf2_per_cu::{m_section,m_sect_off,m_length} in presence of DWO file
  gdb/dwarf2/read.h
Due: check-include-guards, check-gnu-style

gdb/testsuite/dwarf: use single abbrev table in .dwo files
  gdb/testsuite/gdb.dwarf2/fission-with-type-unit.exp
  gdb/testsuite/lib/dwarf.exp
Due: none

gdb/dwarf: when in dwarf2_cu, read addr_size from dwarf2_cu::header
  gdb/dwarf2/cu.c
  gdb/testsuite/gdb.dwarf2/fission-reread.exp
Due: check-gnu-style

gdb/dwarf: use dwarf2_per_cu::ref_addr_size in one spot
  gdb/dwarf2/read.c
Due: check-gnu-style

gdb/dwarf: store addr/offset/ref_addr sizes in dwarf2_per_cu
  gdb/dwarf2/read.c
  gdb/dwarf2/read.h
  gdb/testsuite/gdb.dwarf2/fission-type-unit-locexpr.c
  gdb/testsuite/gdb.dwarf2/fission-type-unit-locexpr.exp
Due: check-include-guards, check-gnu-style

Fix 'ptype' of a certain Ada modular type
  gdb/ada-exp.y
  gdb/ada-lang.c
  gdb/ada-lang.h
  gdb/ada-typeprint.c
  gdb/testsuite/gdb.ada/modular.exp
  gdb/testsuite/gdb.ada/modular/prog.adb
Due: check-include-guards, check-gnu-style

gdb: remove some unnecessary code from print_gdb_hints
  gdb/top.c
Due: check-gnu-style

gdb: small white space fix in print_gdb_hints
  gdb/top.c
Due: check-gnu-style

Automatic date update in version.in
  bfd/version.h
Due: none

[gdb/testsuite] Fix gdb.base/long_long.exp on arm
  gdb/testsuite/gdb.base/long_long.exp
Due: none

x86: correct {RD,WR}{FS,GS}BASE {dis,}assembly
  gas/testsuite/gas/i386/fsgs-intel.d
  gas/testsuite/gas/i386/fsgs.d
  gas/testsuite/gas/i386/fsgs.s
  gas/testsuite/gas/i386/i386.exp
  gas/testsuite/gas/i386/x86-64-fsgs-intel.d
  gas/testsuite/gas/i386/x86-64-fsgs.d
  gas/testsuite/gas/i386/x86-64-fsgs.s
  opcodes/i386-dis.c
  opcodes/i386-gen.c
  opcodes/i386-init.h
  opcodes/i386-tbl.h
Due: none

x86: sub-divide APX_F - NCI
  gas/config/tc-i386.c
  gas/doc/c-i386.texi
  opcodes/i386-gen.c
  opcodes/i386-init.h
  opcodes/i386-opc.h
  opcodes/i386-opc.tbl
  opcodes/i386-tbl.h
Due: none

x86: sub-divide APX_F - NDD
  gas/config/tc-i386.c
  gas/doc/c-i386.texi
  gas/testsuite/gas/i386/x86-64-apx-egpr-inval.l
  opcodes/i386-gen.c
  opcodes/i386-init.h
  opcodes/i386-opc.h
  opcodes/i386-opc.tbl
  opcodes/i386-tbl.h
Due: none

x86: sub-divide APX_F - NF
  gas/config/tc-i386.c
  gas/doc/c-i386.texi
  opcodes/i386-gen.c
  opcodes/i386-init.h
  opcodes/i386-opc.h
  opcodes/i386-opc.tbl
  opcodes/i386-tbl.h
Due: none

x86: sub-divide APX_F - NCI-NDD-NF and testing
  gas/config/tc-i386.c
  gas/doc/c-i386.texi
  gas/testsuite/gas/i386/apx-nci-ndd-nf.l
  gas/testsuite/gas/i386/apx-nci-ndd-nf.s
  gas/testsuite/gas/i386/x86-64.exp
  opcodes/i386-gen.c
  opcodes/i386-init.h
Due: none

Add AMD znver6 processor support
  gas/NEWS
  gas/config/tc-i386.c
  gas/doc/c-i386.texi
  gas/testsuite/gas/i386/arch-16-znver6.d
  gas/testsuite/gas/i386/arch-16.d
  gas/testsuite/gas/i386/arch-16.s
  gas/testsuite/gas/i386/avx512_bmm.d
  gas/testsuite/gas/i386/avx512_bmm.s
  gas/testsuite/gas/i386/avx512_bmm_vl-inval.l
  gas/testsuite/gas/i386/avx512_bmm_vl-inval.s
  gas/testsuite/gas/i386/avx512_bmm_vl.d
  gas/testsuite/gas/i386/avx512_bmm_vl.s
  gas/testsuite/gas/i386/i386.exp
  gas/testsuite/gas/i386/x86-64-arch-6-znver6.d
  gas/testsuite/gas/i386/x86-64-arch-6.d
  gas/testsuite/gas/i386/x86-64-arch-6.s
  gas/testsuite/gas/i386/x86-64-avx512_bmm-bad.d
  gas/testsuite/gas/i386/x86-64-avx512_bmm-bad.s
  gas/testsuite/gas/i386/x86-64-avx512_bmm.d
  gas/testsuite/gas/i386/x86-64-avx512_bmm.s
  gas/testsuite/gas/i386/x86-64-avx512_bmm_vl-inval.l
  gas/testsuite/gas/i386/x86-64-avx512_bmm_vl-inval.s
  gas/testsuite/gas/i386/x86-64-avx512_bmm_vl.d
  gas/testsuite/gas/i386/x86-64-avx512_bmm_vl.s
  gas/testsuite/gas/i386/x86-64.exp
  opcodes/i386-dis-evex-len.h
  opcodes/i386-dis-evex-w.h
  opcodes/i386-dis-evex.h
  opcodes/i386-dis.c
  opcodes/i386-gen.c
  opcodes/i386-init.h
  opcodes/i386-mnem.h
  opcodes/i386-opc.h
  opcodes/i386-opc.tbl
  opcodes/i386-tbl.h
Due: none

bfd: drop BFD_RELOC_I370_D12
  bfd/bfd-in2.h
  bfd/libbfd.h
  bfd/reloc.c
Due: none

bfd: drop BFD_RELOC_VPE4KMATH_*
  bfd/bfd-in2.h
  bfd/libbfd.h
  bfd/reloc.c
Due: none

x86-64: use BFD_RELOC_64_PLTOFF in favor of custom type
  bfd/bfd-in2.h
  bfd/elf64-x86-64.c
  bfd/libbfd.h
  bfd/reloc.c
  gas/config/tc-i386.c
Due: none

x86-64: use BFD_RELOC_32_PLT_PCREL in favor of custom type
  bfd/bfd-in2.h
  bfd/elf64-x86-64.c
  bfd/libbfd.h
  bfd/reloc.c
  gas/config/tc-i386.c
Due: none

gdb: fix 'list' for multiple source file results
  gdb/linespec.c
  gdb/testsuite/gdb.base/list-multi-source.c
  gdb/testsuite/gdb.base/list-multi-source.exp
Due: check-gnu-style

[gdb/testsuite] Use gdb_load in gdb.rocm/break-kernel-no-debug-info.exp
  gdb/testsuite/gdb.rocm/break-kernel-no-debug-info.exp
Due: none

gdb: display a symbol more often in multi-file list output
  gdb/cli/cli-cmds.c
  gdb/testsuite/gdb.base/list-multi-source.exp
Due: check-gnu-style

sim: make local variable 'const'
  sim/common/callback.c
Due: none

hppa64: Set has_local_dynsyms when adding __text_seg/__data_seg
  bfd/elf64-hppa.c
Due: none

[gdb/contrib] Check clean files in check-whitespace-pre-commit.sh
  .pre-commit-config.yaml
  gdb/contrib/check-whitespace-pre-commit.py
  gdb/contrib/check-whitespace-pre-commit.sh
Due: none

Unconditionally pass is_a_field_of_this in c-exp.y
  gdb/c-exp.y
Due: none

elf: Add SHT_SUNW_ctf and SHT_SUNW_symnsort
  binutils/readelf.c
  include/elf/common.h
Due: none
