Repository bminor/binutils-gdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-include-guards, check-gnu-style

.pre-commit-config.yaml:

# Git has the notion of hooks, which are custom scripts that are run on
# specific events.  One of these hooks is the pre-commit hook (located at
# .git/hooks/pre-commit), which is run when committing, before specifying a
# message.
#
# To ease management of the pre-commit hook, the pre-commit framework
# ( https://pre-commit.com ) was developed.  This is the configuration file
# for that framework.  It contains a list of hooks, with information on where
# to find them and on which files to run them.
#
# See here ( https://pre-commit.com/#install ) on how to install the
# pre-commit framework.
#
# To run all the hooks specified in this file manually, you can do:
# $ pre-commit run
#
# To run some hooks and skip others, you can use environment variable SKIP:
# $ SKIP=flake8,isort pre-commit run
#
# To install the pre-commit framework in the repository in order to run the
# hooks on every commit, do:
# $ pre-commit install
#
# After installing the pre-commit framework, you can skip running all
# pre-commit hooks using --no-verify, or some using SKIP.
# $ git commit --no-verify ...
# $ SKIP=flake8,isort git commit ...
#
# In case some of these hooks don't work for you, you can make the SKIP
# setting permanent by:
# - setting SKIP in your environment
#   (this will affect all repositories where it is set)
# - setting SKIP in .git/hooks/pre-commit by adding "export SKIP=..."
#   (this will affect only this repository, but it may have to be re-added
#    if .git/hooks/pre-commit is regenerated)
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

minimum_pre_commit_version: 3.2.0
default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit]
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
      - id: black
        types_or: [file]
        files: 'gdb/.*\.py(\.in)?$'
  - repo:  https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
    - id: flake8
      types_or: [file]
      # Run this for (in glob notation):
      #
      #  - gdb/gdb-gdb.py.in
      #  - gdb/*.py
      #  - gdb/python/**/*.py
      #  - gdb/testsuite/*.py
      #
      files: '^gdb/(gdb-gdb\.py\.in|[^/]+\.py|python/.+\.py|testsuite/[^/]+\.py)$'
      args: [--config, gdb/setup.cfg]
  - repo: https://github.com/pycqa/isort
    rev: 6.1.0
    hooks:
    - id: isort
      types_or: [file]
      files: 'gdb/.*\.py(\.in)?$'
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    - id: codespell
      files: '^(gdbsupport|gdbserver|gdb/(tui|target|data-directory|po|system-gdbinit|mi|syscalls|arch|regformats|compile|python|guile|config|unittests|cli|testsuite/gdb.(ctf|dap|debuginfod|gdb|go|guile|mi|modula2|objc|opencl|opt|pascal|perf|replay|reverse|rocm|server|stabs|testsuite|tui|xml)))/'
      args: [--config, gdb/contrib/setup.cfg]
  - repo: local
    hooks:
    - id: check-include-guards
      name: check-include-guards
      language: python
      entry: gdb/check-include-guards.py
      # All gdb header files, but not headers in the test suite.
      files: '^(gdb(support|server)?)/.*\.h$'
      exclude: '.*/testsuite/.*'
    - id: codespell-log
      name: codespell-log
      language: script
      entry: gdb/contrib/codespell-log.sh
      verbose: true
      always_run: true
      stages: [commit-msg]
    - id: check-gnu-style
      name: check-gnu-style
      language: script
      entry: gdb/contrib/check-gnu-style-pre-commit.sh
      files: '^(gdb(support|server)?)/.*\.(c|h|cc)$'
      exclude: '.*/testsuite/.*'
      verbose: true
      stages: [pre-commit]
  - repo: https://github.com/nmoroze/tclint
    rev: v0.6.1
    hooks:
    - id: tclint
      args: [--config, gdb/tclint.toml]
      types_or: [file]
      files: 'gdb/testsuite/.*\.(exp|tcl)$'

Avoid crash with "NSString" literals
  gdb/c-exp.y
  gdb/objc-lang.c
  gdb/testsuite/gdb.objc/print.exp
Due: check-gnu-style

Remove a couple Objective-C expression helpers
  gdb/c-exp.h
  gdb/eval.c
  gdb/objc-lang.c
  gdb/objc-lang.h
Due: check-include-guards, check-gnu-style

Rename lookup_struct_typedef
  gdb/c-exp.y
  gdb/objc-lang.c
  gdb/objc-lang.h
Due: check-include-guards, check-gnu-style

Rewrite the @selector code
  gdb/c-exp.y
Due: none

Minor fixes to make gdb.objc tests pass
  gdb/testsuite/gdb.objc/basicclass.exp
Due: none

Make the gdb.objc tests compile
  gdb/testsuite/gdb.objc/basicclass.m
  gdb/testsuite/gdb.objc/nondebug.m
  gdb/testsuite/gdb.objc/objcdecode.m
  gdb/testsuite/lib/gdb.exp
Due: none

gdb/testsuite: Fix gdb/testsuite/gdb.arch/riscv-unwind-long-insn.S
  gdb/testsuite/gdb.arch/riscv-unwind-long-insn.S
Due: none

gdb/ser-unix: work around conflicting types for tcflag_t
  gdb/ser-unix.c
Due: check-gnu-style

[gdb] Handle *.ac and *.m4 files in .gitattributes
  gdb/.gitattributes
  gdbserver/.gitattributes
  gdbsupport/.gitattributes
Due: none

[gdb] Clean whitespace in *.ac and *.m4 files
  gdb/acinclude.m4
  gdb/ax_cxx_compile_stdcxx.m4
  gdb/configure
  gdb/configure.ac
  gdb/sanitize.m4
  gdb/testsuite/configure
  gdb/testsuite/configure.ac
  gdbserver/acinclude.m4
  gdbserver/configure
  gdbserver/configure.ac
  gdbsupport/common.m4
  gdbsupport/compiler-type.m4
  gdbsupport/configure
  gdbsupport/configure.ac
  gdbsupport/selftest.m4
  gdbsupport/warning.m4
Due: none

[gdb] Fix typos in gdb/dwarf2
  .pre-commit-config.yaml
  gdb/contrib/codespell-ignore-words.txt
  gdb/dwarf2/abbrev.c
  gdb/dwarf2/aranges.c
  gdb/dwarf2/cooked-index-shard.c
  gdb/dwarf2/dwz.c
  gdb/dwarf2/index-write.c
  gdb/dwarf2/read-gdb-index.c
  gdb/dwarf2/read.c
  gdb/dwarf2/section.c
  gdb/dwarf2/section.h
Due: check-include-guards, check-gnu-style

Automatic date update in version.in
  bfd/version.h
Due: none

[gdb/symtab] Bail out for too short line header
  gdb/dwarf2/line-header.c
  gdb/testsuite/gdb.dwarf2/malformed-line-header.exp
  gdb/testsuite/lib/dwarf.exp
Due: check-gnu-style

[gdb/symtab] Fix DW_TAG_member regression
  gdb/dwarf2/abbrev.c
  gdb/dwarf2/cooked-indexer.c
  gdb/dwarf2/index-write.c
  gdb/dwarf2/tag.h
  gdb/testsuite/gdb.dwarf2/static-const-member.exp
Due: check-include-guards, check-gnu-style

[gdb/testsuite] Fix ERROR: can't read _line_unit_advertised_version: no such variable
  gdb/testsuite/lib/dwarf.exp
Due: none

Print more template parameters with ptype
  gdb/c-typeprint.c
  gdb/printcmd.c
  gdb/testsuite/gdb.cp/temargs.exp
  gdb/testsuite/gdb.dwarf2/missing-type-name-for-templates.exp
  gdb/value.h
Due: check-include-guards, check-gnu-style

gdb/guile: remove support for Guile < 2.2
  gdb/guile/scm-ports.c
Due: check-gnu-style

[gdbsupport] Handle Makefile.in and unordered_dense in .gitattributes
  gdbsupport/.gitattributes
Due: none

[gdbsupport] Clean whitespace
  gdbsupport/ax.def
  gdbsupport/rsp-low.cc
Due: check-gnu-style

Fix some indentation in rust-lang.c
  gdb/rust-lang.c
Due: check-gnu-style

gdb/record: Support fense.tso, zicond, bitmanip, sinval and zihintntl in RISC-V
  gdb/riscv-tdep.c
Due: check-gnu-style

gdb/testsuite: Fix doc comment in allow_aarch64_sme_tests
  gdb/testsuite/lib/gdb.exp
Due: none

copy_object: Re-indent
  binutils/objcopy.c
Due: none

[gdb/testsuite] Fix build-id check in gdb.python/py-missing-objfile.exp
  gdb/testsuite/gdb.python/py-missing-objfile.exp
  gdb/testsuite/lib/gdb.exp
Due: none

Add warning message to readelf for local symbols that reference beyond the end of a mergeable section.
  binutils/readelf.c
Due: none

gdb: handle unlimited screen width case in print_gdb_hints
  gdb/top.c
Due: check-gnu-style

Return bool from ada_is_modular_type
  gdb/ada-lang.c
  gdb/ada-lang.h
Due: check-include-guards, check-gnu-style

aarch64: Refactor sysreg operand printing
  opcodes/aarch64-opc.c
Due: none

aarch64: Enable `-M notes' by default
  gas/testsuite/gas/aarch64/sysreg/sysreg.d
  opcodes/aarch64-dis.c
Due: none

aarch64: Improve comment for aarch64_opnd_info.sysreg.flags
  include/opcode/aarch64.h
Due: none

aarch64: Fix incorrect sysreg notes operand notes
  opcodes/aarch64-opc.c
Due: none

gdb: remove find_target_at
  gdb/record.c
  gdb/svr4-tls-tdep.c
  gdb/target.c
  gdb/target.h
Due: check-include-guards, check-gnu-style

gdb/testsuite/dwarf: ensure build_executable_and_dwo_files calls untested in all failure paths
  gdb/testsuite/lib/dwarf.exp
Due: none

gdb/testsuite/dwarf: convert _section proc to use parse_options
  gdb/testsuite/lib/dwarf.exp
Due: none

gdb/testsuite/dwarf: emit type unit sections as COMDAT
  gdb/testsuite/lib/dwarf.exp
Due: none
