Repository bminor/binutils-gdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-include-guards, check-gnu-style

.pre-commit-config.yaml:

# Git has the notion of hooks, which are custom scripts that are run on
# specific events.  One of these hooks is the pre-commit hook (located at
# .git/hooks/pre-commit), which is run when committing, before specifying a
# message.
#
# To ease management of the pre-commit hook, the pre-commit framework
# ( https://pre-commit.com ) was developed.  This is the configuration file
# for that framework.  It contains a list of hooks, with information on where
# to find them and on which files to run them.
#
# See here ( https://pre-commit.com/#install ) on how to install the
# pre-commit framework.
#
# To run all the hooks specified in this file manually, you can do:
# $ pre-commit run
#
# To run some hooks and skip others, you can use environment variable SKIP:
# $ SKIP=flake8,isort pre-commit run
#
# To install the pre-commit framework in the repository in order to run the
# hooks on every commit, do:
# $ pre-commit install
#
# After installing the pre-commit framework, you can skip running all
# pre-commit hooks using --no-verify, or some using SKIP.
# $ git commit --no-verify ...
# $ SKIP=flake8,isort git commit ...
#
# In case some of these hooks don't work for you, you can make the SKIP
# setting permanent by:
# - setting SKIP in your environment
#   (this will affect all repositories where it is set)
# - setting SKIP in .git/hooks/pre-commit by adding "export SKIP=..."
#   (this will affect only this repository, but it may have to be re-added
#    if .git/hooks/pre-commit is regenerated)
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

minimum_pre_commit_version: 3.2.0
default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit]
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
      - id: black
        types_or: [file]
        files: 'gdb/.*\.py(\.in)?$'
  - repo:  https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
    - id: flake8
      types_or: [file]
      # Run this for (in glob notation):
      #
      #  - gdb/gdb-gdb.py.in
      #  - gdb/*.py
      #  - gdb/python/**/*.py
      #  - gdb/testsuite/*.py
      #
      files: '^gdb/(gdb-gdb\.py\.in|[^/]+\.py|python/.+\.py|testsuite/[^/]+\.py)$'
      args: [--config, gdb/setup.cfg]
  - repo: https://github.com/pycqa/isort
    rev: 6.1.0
    hooks:
    - id: isort
      types_or: [file]
      files: 'gdb/.*\.py(\.in)?$'
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    - id: codespell
      files: '^(gdbsupport|gdbserver|gdb/(tui|target|data-directory|po|system-gdbinit|mi|syscalls|arch|regformats|compile|python|guile|config|unittests|cli|testsuite/gdb.(ctf|dap|debuginfod|gdb|go|guile|mi|modula2|objc|opencl|opt|pascal|perf|replay|reverse|rocm|server|stabs|testsuite|tui|xml)))/'
      args: [--config, gdb/contrib/setup.cfg]
  - repo: local
    hooks:
    - id: check-include-guards
      name: check-include-guards
      language: python
      entry: gdb/check-include-guards.py
      # All gdb header files, but not headers in the test suite.
      files: '^(gdb(support|server)?)/.*\.h$'
      exclude: '.*/testsuite/.*'
    - id: codespell-log
      name: codespell-log
      language: script
      entry: gdb/contrib/codespell-log.sh
      verbose: true
      always_run: true
      stages: [commit-msg]
    - id: check-gnu-style
      name: check-gnu-style
      language: script
      entry: gdb/contrib/check-gnu-style-pre-commit.sh
      files: '^(gdb(support|server)?)/.*\.(c|h|cc)$'
      exclude: '.*/testsuite/.*'
      verbose: true
      stages: [pre-commit]
  - repo: https://github.com/nmoroze/tclint
    rev: v0.6.1
    hooks:
    - id: tclint
      args: [--config, gdb/tclint.toml]
      types_or: [file]
      files: 'gdb/testsuite/.*\.(exp|tcl)$'

[gdb/testsuite] Use -std=c99 in gdb.base/callfuncs.exp
  gdb/testsuite/gdb.base/callfuncs.exp
Due: none

libsframe: fix checks in flip_fde
  libsframe/sframe.c
Due: none

[gdb/testsuite] Fix main in gdb.trace/mi-trace-frame-collected.exp
  gdb/testsuite/gdb.trace/actions.c
Due: none

libsframe: rename encoder to ectx for readability
  include/sframe-api.h
  libsframe/sframe.c
Due: none

Automatic date update in version.in
  bfd/version.h
Due: none

ld: Fix a H8/300 specific test case
  ld/testsuite/ld-h8300/relax-7.d
Due: none

bfd/ELF: _bfd_elf_ppc_at_tls_transform() is exposed to gas
  bfd/elf-bfd.h
  bfd/elf32-ppc.c
  bfd/elf64-ppc.c
  gas/config/tc-ppc.c
Due: none

bfd/ELF: mark internal MIPS functions hidden
  bfd/elfxx-mips.h
Due: none

Minor cleanup in ld documentation
  ld/ld.texi
Due: none

readelf: Fix typo in --version-info documentation
  binutils/doc/binutils.texi
Due: none

[gdb/testsuite] Drop address from test name in gdb.arch/amd64-shadow-stack-corefile.exp
  gdb/testsuite/gdb.arch/amd64-shadow-stack-corefile.exp
Due: none

[gdb/testsuite] Drop address from test name in gdb.mi/mi-memory-changed.exp
  gdb/testsuite/gdb.mi/mi-memory-changed.exp
Due: none

[pre-commit] Set verbose=false for check-whitespace
  .pre-commit-config.yaml
Due: none

gdb: remove unused includes in target-descriptions.c
  gdb/target-descriptions.c
Due: check-gnu-style

Use unordered_set for frame_stash
  gdb/frame.c
Due: check-gnu-style

Use unordered_map in record-btrace
  gdb/record-btrace.c
Due: check-gnu-style

Add styling to symmisc.c
  gdb/symmisc.c
Due: check-gnu-style

Add styling to cooked_index::dump
  gdb/dwarf2/cooked-index.c
Due: check-gnu-style

Add uses of _() to symmisc.c
  gdb/symmisc.c
Due: check-gnu-style

Print the CU index in cooked_index::dump
  gdb/dwarf2/cooked-index.c
Due: check-gnu-style

[gdb/testsuite] Force DWARF in gdb.pascal
  gdb/testsuite/lib/pascal.exp
Due: none

gdb/hppa: guess g packet size
  gdb/hppa-tdep.c
Due: check-gnu-style

Re-enable development on the 2.45 branch
  bfd/development.sh
Due: none

Re: readelf: Display the base symbol version as empty string
  gold/testsuite/ver_test_4.sh
Due: none

objcopy binary symbol test
  binutils/testsuite/binutils-all/objcopy.exp
Due: none

gdb/mips: make mips_tdesc_gp{32,64} target_desc_up
  gdb/mips-linux-tdep.c
  gdb/mips-tdep.c
  gdb/mips-tdep.h
Due: check-include-guards, check-gnu-style

gdb: use current executable for 'remote exec-file' in some cases
  gdb/NEWS
  gdb/doc/gdb.texinfo
  gdb/remote.c
  gdb/testsuite/gdb.server/ext-run.exp
Due: check-gnu-style

[gdb/testsuite] Fix sizeof test in gdb.rust/simple.exp
  gdb/testsuite/gdb.rust/simple.exp
Due: none

[gdb/rust] Fix handling of unsigned discriminant
  gdb/dwarf2/read.c
Due: check-gnu-style

Allow Python to create const+volatile types
  gdb/python/py-type.c
  gdb/testsuite/gdb.python/py-type.exp
Due: check-gnu-style

[gdb/testsuite] Use -std=c99 in gdb.base/nodebug.exp
  gdb/testsuite/gdb.base/nodebug.exp
Due: none
