Repository bminor/binutils-gdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-include-guards, check-gnu-style

.pre-commit-config.yaml:

# Git has the notion of hooks, which are custom scripts that are run on
# specific events.  One of these hooks is the pre-commit hook (located at
# .git/hooks/pre-commit), which is run when committing, before specifying a
# message.
#
# To ease management of the pre-commit hook, the pre-commit framework
# ( https://pre-commit.com ) was developed.  This is the configuration file
# for that framework.  It contains a list of hooks, with information on where
# to find them and on which files to run them.
#
# See here ( https://pre-commit.com/#install ) on how to install the
# pre-commit framework.
#
# To run all the hooks specified in this file manually, you can do:
# $ pre-commit run
#
# To run some hooks and skip others, you can use environment variable SKIP:
# $ SKIP=flake8,isort pre-commit run
#
# To install the pre-commit framework in the repository in order to run the
# hooks on every commit, do:
# $ pre-commit install
#
# After installing the pre-commit framework, you can skip running all
# pre-commit hooks using --no-verify, or some using SKIP.
# $ git commit --no-verify ...
# $ SKIP=flake8,isort git commit ...
#
# In case some of these hooks don't work for you, you can make the SKIP
# setting permanent by:
# - setting SKIP in your environment
#   (this will affect all repositories where it is set)
# - setting SKIP in .git/hooks/pre-commit by adding "export SKIP=..."
#   (this will affect only this repository, but it may have to be re-added
#    if .git/hooks/pre-commit is regenerated)
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

minimum_pre_commit_version: 3.2.0
default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit]
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
      - id: black
        types_or: [file]
        files: 'gdb/.*\.py(\.in)?$'
  - repo:  https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
    - id: flake8
      types_or: [file]
      # Run this for (in glob notation):
      #
      #  - gdb/gdb-gdb.py.in
      #  - gdb/*.py
      #  - gdb/python/**/*.py
      #  - gdb/testsuite/*.py
      #
      files: '^gdb/(gdb-gdb\.py\.in|[^/]+\.py|python/.+\.py|testsuite/[^/]+\.py)$'
      args: [--config, gdb/setup.cfg]
  - repo: https://github.com/pycqa/isort
    rev: 6.1.0
    hooks:
    - id: isort
      types_or: [file]
      files: 'gdb/.*\.py(\.in)?$'
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    - id: codespell
      files: '^(gdbsupport|gdbserver|gdb/(tui|target|data-directory|po|system-gdbinit|mi|syscalls|arch|regformats|compile|python|guile|config|unittests|cli|testsuite/gdb.(ctf|dap|debuginfod|gdb|go|guile|mi|modula2|objc|opencl|opt|pascal|perf|replay|reverse|rocm|server|stabs|testsuite|tui|xml)))/'
      args: [--config, gdb/contrib/setup.cfg]
  - repo: local
    hooks:
    - id: check-include-guards
      name: check-include-guards
      language: python
      entry: gdb/check-include-guards.py
      # All gdb header files, but not headers in the test suite.
      files: '^(gdb(support|server)?)/.*\.h$'
      exclude: '.*/testsuite/.*'
    - id: codespell-log
      name: codespell-log
      language: script
      entry: gdb/contrib/codespell-log.sh
      verbose: true
      always_run: true
      stages: [commit-msg]
    - id: check-gnu-style
      name: check-gnu-style
      language: script
      entry: gdb/contrib/check-gnu-style-pre-commit.sh
      files: '^(gdb(support|server)?)/.*\.(c|h|cc)$'
      exclude: '.*/testsuite/.*'
      verbose: true
      stages: [pre-commit]
  - repo: https://github.com/nmoroze/tclint
    rev: v0.6.1
    hooks:
    - id: tclint
      args: [--config, gdb/tclint.toml]
      types_or: [file]
      files: 'gdb/testsuite/.*\.(exp|tcl)$'

Automatic date update in version.in
  bfd/version.h
Due: none

gdb: add more styling to cli/cli-cmds.c
  gdb/cli/cli-cmds.c
Due: check-gnu-style

[gdb/build] Handle gdbsupport and gdbserver in gdb.pot
  gdb/Makefile.in
  gdb/po/gdbtext
Due: none

Make blockvector a little more self-contained
  gdb/block.c
  gdb/block.h
  gdb/defs.h
  gdb/objfiles.c
  gdb/symtab.c
  gdb/symtab.h
Due: check-include-guards, check-gnu-style

gdb/dwarf: use offset in dwarf_expr_context::read_mem
  gdb/dwarf2/expr.c
Due: check-gnu-style

Return bool from block_starting_point_at
  gdb/inline-frame.c
Due: check-gnu-style

Remove section_offsets typedef
  gdb/block.c
  gdb/block.h
  gdb/defs.h
  gdb/mdebugread.c
  gdb/objfiles.c
  gdb/objfiles.h
  gdb/remote.c
  gdb/solib-aix.c
  gdb/solib-dsbt.c
  gdb/solib-frv.c
  gdb/solib-svr4.c
  gdb/solib-target.c
  gdb/symfile.c
  gdb/symfile.h
  gdb/symtab.c
  gdb/symtab.h
Due: check-include-guards, check-gnu-style

[contrib] Accept _("") and operator() in check_GNU_style_lib.py
  contrib/check_GNU_style_lib.py
Due: none

[contrib] Fix typo in check_GNU_style_lib.py
  contrib/check_GNU_style_lib.py
Due: none

gprofng: Add documentation on converting gmon files.
  gprof/gprof.texi
  gprofng/doc/Makefile.am
  gprofng/doc/Makefile.in
  gprofng/doc/gprofng-display-gmon.texi
  gprofng/doc/gprofng.texi
  gprofng/doc/gprofng_ug.texi
Due: none

gprofng: Add gprofng gmon conversion command test
  gprofng/testsuite/gprofng.display/gp-gmon.exp
Due: none

gprofng: New tool for converting gmon.out file to experiments
  gprofng/src/Makefile.am
  gprofng/src/Makefile.in
  gprofng/src/basic_blocks.h
  gprofng/src/call_graph.h
  gprofng/src/cg_arcs.h
  gprofng/src/collctrl.h
  gprofng/src/corefile.h
  gprofng/src/gmon.h
  gprofng/src/gmon_basic_blocks.cc
  gprofng/src/gmon_call_graph.cc
  gprofng/src/gmon_cg_arcs.cc
  gprofng/src/gmon_corefile.cc
  gprofng/src/gmon_hist.cc
  gprofng/src/gmon_io.cc
  gprofng/src/gmon_io.h
  gprofng/src/gmon_out.h
  gprofng/src/gmon_symtab.cc
  gprofng/src/gp-gmon.cc
  gprofng/src/gp-gmon.h
  gprofng/src/gprofng.cc
  gprofng/src/hist.h
  gprofng/src/source.h
  gprofng/src/symtab.h
Due: none

gprofng: Remove runstatedir from Makefile.in
  gprofng/src/Makefile.in
Due: none

Fix dwarf2 "assertion failed" on bra without skip dwarf expression op
  gdb/dwarf2/loc.c
Due: check-gnu-style

Do not apply properties to arch-allocated types
  gdb/dwarf2/cu.c
  gdb/dwarf2/read.c
  gdb/gdbtypes.c
  gdb/gdbtypes.h
  gdb/testsuite/gdb.dwarf2/builtin-type-copy.exp
Due: check-include-guards, check-gnu-style

gdb: include NT_I386_TLS note in generated core files
  gdb/NEWS
  gdb/amd64-linux-nat.c
  gdb/doc/gdb.texinfo
  gdb/features/i386/32bit-linux.c
  gdb/features/i386/32bit-linux.xml
  gdb/i386-linux-nat.c
  gdb/i386-linux-tdep.c
  gdb/i386-linux-tdep.h
  gdb/i386-tdep.h
  gdb/nat/amd64-linux.h
  gdb/nat/i386-linux.h
  gdb/nat/x86-linux.c
  gdb/nat/x86-linux.h
  gdb/testsuite/gdb.arch/i386-tls-regs.c
  gdb/testsuite/gdb.arch/i386-tls-regs.exp
  gdb/x86-linux-nat.c
  gdb/x86-linux-nat.h
  gdbserver/linux-x86-low.cc
Due: check-include-guards, check-gnu-style

gdb/dwarf2: add dwarf2_get_symbol_read_needs selftest
  gdb/dwarf2/loc.c
Due: check-gnu-style

bfd/COFF: mark internal functions hidden
  bfd/libcoff-in.h
  bfd/libcoff.h
Due: none

bfd/COFF: properly mark bfd_coff_{gc_sections,group_name}() as private
  bfd/coffcode.h
  bfd/coffgen.c
  bfd/libcoff-in.h
  bfd/libcoff.h
Due: none

bfd/ECOFF: mark internal functions hidden
  bfd/libecoff.h
Due: none

bfd/XCOFF: mark internal data hidden
  bfd/libxcoff.h
Due: none

bfd/PEI: mark internal functions hidden
  bfd/libpei.h
Due: none

bfd/COFF: mark a function exposed to ld as non-private
  bfd/coff-arm.c
  bfd/coff-sh.c
  bfd/coffgen.c
  bfd/cofflink.c
  bfd/libcoff-in.h
  bfd/libcoff.h
  bfd/xcofflink.c
  ld/pdb.c
Due: none

gdb/testsuite: avoid pointer values in test names
  gdb/testsuite/gdb.arch/i386-tls-regs.exp
Due: none

gprofng: Remove public hz and whoami variables
  gprofng/src/basic_blocks.h
  gprofng/src/call_graph.h
  gprofng/src/corefile.h
  gprofng/src/gmon_basic_blocks.cc
  gprofng/src/gmon_call_graph.cc
  gprofng/src/gmon_corefile.cc
  gprofng/src/gmon_hist.cc
  gprofng/src/gmon_io.cc
  gprofng/src/gmon_io.h
  gprofng/src/gmon_symtab.cc
  gprofng/src/gp-gmon.cc
  gprofng/src/gp-gmon.h
  gprofng/src/hist.h
  gprofng/src/symtab.h
Due: none

[gdb/corefiles] Fix segfault in add_thread_silent
  gdb/corelow.c
Due: check-gnu-style

RISC-V: Fixed opcodes for some bitmanip instructions
  include/opcode/riscv-opc.h
Due: none

ecoff foreign syms
  bfd/ecoff.c
Due: none

bfd_copy_private_symbol_data
  bfd/bfd-in2.h
  bfd/elf-bfd.h
  bfd/elf.c
  bfd/libbfd-in.h
  bfd/libbfd.c
  bfd/libbfd.h
  bfd/mach-o.c
  bfd/mach-o.h
  bfd/plugin.c
  bfd/som.c
  bfd/targets.c
  binutils/objcopy.c
  gas/symbols.c
Due: none

som foreign syms
  bfd/som.c
Due: none
