Repository bminor/binutils-gdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-include-guards, check-gnu-style

.pre-commit-config.yaml:

# Git has the notion of hooks, which are custom scripts that are run on
# specific events.  One of these hooks is the pre-commit hook (located at
# .git/hooks/pre-commit), which is run when committing, before specifying a
# message.
#
# To ease management of the pre-commit hook, the pre-commit framework
# ( https://pre-commit.com ) was developed.  This is the configuration file
# for that framework.  It contains a list of hooks, with information on where
# to find them and on which files to run them.
#
# See here ( https://pre-commit.com/#install ) on how to install the
# pre-commit framework.
#
# To run all the hooks specified in this file manually, you can do:
# $ pre-commit run
#
# To run some hooks and skip others, you can use environment variable SKIP:
# $ SKIP=flake8,isort pre-commit run
#
# To install the pre-commit framework in the repository in order to run the
# hooks on every commit, do:
# $ pre-commit install
#
# After installing the pre-commit framework, you can skip running all
# pre-commit hooks using --no-verify, or some using SKIP.
# $ git commit --no-verify ...
# $ SKIP=flake8,isort git commit ...
#
# In case some of these hooks don't work for you, you can make the SKIP
# setting permanent by:
# - setting SKIP in your environment
#   (this will affect all repositories where it is set)
# - setting SKIP in .git/hooks/pre-commit by adding "export SKIP=..."
#   (this will affect only this repository, but it may have to be re-added
#    if .git/hooks/pre-commit is regenerated)
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

minimum_pre_commit_version: 3.2.0
default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit]
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
      - id: black
        types_or: [file]
        files: 'gdb/.*\.py(\.in)?$'
  - repo:  https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
    - id: flake8
      types_or: [file]
      # Run this for (in glob notation):
      #
      #  - gdb/gdb-gdb.py.in
      #  - gdb/*.py
      #  - gdb/python/**/*.py
      #  - gdb/testsuite/*.py
      #
      files: '^gdb/(gdb-gdb\.py\.in|[^/]+\.py|python/.+\.py|testsuite/[^/]+\.py)$'
      args: [--config, gdb/setup.cfg]
  - repo: https://github.com/pycqa/isort
    rev: 6.1.0
    hooks:
    - id: isort
      types_or: [file]
      files: 'gdb/.*\.py(\.in)?$'
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    - id: codespell
      files: '^(gdbsupport|gdbserver|gdb/(tui|target|data-directory|po|system-gdbinit|mi|syscalls|arch|regformats|compile|python|guile|config|unittests|cli|testsuite/gdb.(ctf|dap|debuginfod|gdb|go|guile|mi|modula2|objc|opencl|opt|pascal|perf|replay|reverse|rocm|server|stabs|testsuite|tui|xml)))/'
      args: [--config, gdb/contrib/setup.cfg]
  - repo: local
    hooks:
    - id: check-include-guards
      name: check-include-guards
      language: python
      entry: gdb/check-include-guards.py
      # All gdb header files, but not headers in the test suite.
      files: '^(gdb(support|server)?)/.*\.h$'
      exclude: '.*/testsuite/.*'
    - id: codespell-log
      name: codespell-log
      language: script
      entry: gdb/contrib/codespell-log.sh
      verbose: true
      always_run: true
      stages: [commit-msg]
    - id: check-gnu-style
      name: check-gnu-style
      language: script
      entry: gdb/contrib/check-gnu-style-pre-commit.sh
      files: '^(gdb(support|server)?)/.*\.(c|h|cc)$'
      exclude: '.*/testsuite/.*'
      verbose: true
      stages: [pre-commit]
  - repo: https://github.com/nmoroze/tclint
    rev: v0.6.1
    hooks:
    - id: tclint
      args: [--config, gdb/tclint.toml]
      types_or: [file]
      files: 'gdb/testsuite/.*\.(exp|tcl)$'

libctf, include: fold ctf_add_struct*, ctf_add_union* into ctf_add_struct
  include/ctf-api.h
  libctf/ctf-create.c
  libctf/ctf-dedup.c
  libctf/libctf.ver
  libctf/testsuite/libctf-lookup/add-to-opened.c
  libctf/testsuite/libctf-writable/id-assignment.c
  libctf/testsuite/libctf-writable/libctf-errors.c
  libctf/testsuite/libctf-writable/parent-child-dtd-crash-lib.c
  libctf/testsuite/libctf-writable/reserialize-strtab-corruption.c
Due: none

libctf, include: API review: ctf_set_array -> ctf_array_set_info
  include/ctf-api.h
  libctf/ctf-create.c
  libctf/libctf.ver
  libctf/testsuite/libctf-lookup/add-to-opened.c
  libctf/testsuite/libctf-writable/parent-child-dtd-crash-lib.c
Due: none

include, libctf: API review: ctf_dict_set_flag, ctf_dict_get_flag
  include/ctf-api.h
  libctf/ctf-api.c
  libctf/libctf.ver
  libctf/testsuite/libctf-lookup/enumerator-iteration.c
Due: none

include: struct members must be added in ascending order by offset
  include/ctf-api.h
Due: none

include, libctf: API review: ctf_add_enum* rationalization
  include/ctf-api.h
  libctf/ctf-create.c
  libctf/ctf-dedup.c
  libctf/libctf.ver
  libctf/testsuite/libctf-lookup/add-to-opened.c
  libctf/testsuite/libctf-lookup/enumerator-iteration.c
  libctf/testsuite/libctf-writable/ctf-nonroot-addition.c
  libctf/testsuite/libctf-writable/id-assignment.c
  libctf/testsuite/libctf-writable/parent-child-dtd-crash-lib.c
  libctf/testsuite/libctf-writable/reserialize-strtab-corruption.c
  libctf/testsuite/libctf-writable/slice-of-slice.c
Due: none

libctf, include: anonymous unions work on C11 as well
  include/ctf.h
  libctf/ctf-hash.c
Due: none

libctf, gdb, include: API review: enum values become ctf_enum_value_t
  gdb/ctfread.c
  include/ctf-api.h
  libctf/ctf-archive.c
  libctf/ctf-create.c
  libctf/ctf-dedup.c
  libctf/ctf-dump.c
  libctf/ctf-impl.h
  libctf/ctf-lookup.c
  libctf/ctf-types.c
  libctf/libctf.ver
  libctf/testsuite/libctf-lookup/enum-symbol.c
  libctf/testsuite/libctf-lookup/enum.c
  libctf/testsuite/libctf-lookup/enumerator-iteration.c
Due: check-gnu-style

include, libctf: API review: ctf_linkages_t enum
  include/ctf-api.h
  include/ctf.h
  libctf/ctf-create.c
  libctf/ctf-types.c
Due: none

libctf, include: API review: delete ctf_add_member_encoded
  include/ctf-api.h
  libctf/ctf-create.c
  libctf/libctf.ver
  libctf/testsuite/libctf-writable/parent-child-dtd-crash-lib.c
  libctf/testsuite/libctf-writable/parent-child-dtd-member-encoded.c
  libctf/testsuite/libctf-writable/parent-child-dtd-member-encoded.lk
Due: none

libctf, gdb, include: API review: merge ctf_add_{objt,func}_sym: more enums
  gdb/ctfread.c
  include/ctf-api.h
  libctf/ctf-create.c
  libctf/ctf-dump.c
  libctf/ctf-impl.h
  libctf/ctf-lookup.c
  libctf/libctf.ver
  libctf/testsuite/libctf-writable/symtypetab-nonlinker-writeout.c
Due: check-gnu-style

libctf, include, gdb: API review: rethink function type APIs
  gdb/ctfread.c
  include/ctf-api.h
  libctf/ctf-create.c
  libctf/ctf-dedup.c
  libctf/ctf-types.c
  libctf/libctf.ver
  libctf/testsuite/libctf-writable/error-propagation.c
  libctf/testsuite/libctf-writable/id-assignment.c
  libctf/testsuite/libctf-writable/symtypetab-nonlinker-writeout.c
Due: check-gnu-style

libctf: API review: delete ctf_getdebug
  include/ctf-api.h
  libctf/ctf-api.c
  libctf/libctf.ver
Due: none

libctf, gdb, include: API review: zap ctf_lookup_variable, ctf_variable_next
  gdb/ctfread.c
  include/ctf-api.h
  libctf/ctf-lookup.c
  libctf/ctf-types.c
  libctf/libctf.ver
Due: check-gnu-style

libctf: API review: delete ctf_update, ctf_discard
  include/ctf-api.h
  libctf/ctf-create.c
  libctf/ctf-impl.h
  libctf/libctf.ver
Due: none

libctf: API review: C++ compatibility for enumized flags
  include/ctf-api.h
  include/ctf.h
Due: none

libctf: API review: deprecate slice addition
  include/ctf-api.h
Due: none

libctf, include, binutils: rationalize CTF dict model, cuname, parent names
  binutils/objdump.c
  binutils/readelf.c
  include/ctf-api.h
  libctf/ctf-archive.c
  libctf/ctf-dedup.c
  libctf/ctf-impl.h
  libctf/ctf-link.c
  libctf/ctf-open.c
  libctf/ctf-serialize.c
  libctf/libctf.ver
  libctf/testsuite/libctf-lookup/enumerator-iteration.c
Due: none

libctf: API review: delete ctf_gzwrite
  include/ctf-api.h
  include/ctf.h
  libctf/ctf-serialize.c
  libctf/libctf.ver
  libctf/testsuite/libctf-regression/gzrewrite.c
  libctf/testsuite/libctf-regression/gzrewrite.lk
  libctf/testsuite/libctf-regression/zrewrite-ctf.c
  libctf/testsuite/libctf-regression/zrewrite.lk
Due: none

libctf: API review: enumize ctf_member_next flags
  include/ctf-api.h
  libctf/ctf-types.c
Due: none

libctf, include, ld: API review: ctf_link_add_ctf -> ctf_link_add
  include/ctf-api.h
  ld/ldlang.c
  libctf/ctf-link.c
  libctf/libctf.ver
  libctf/testsuite/libctf-writable/ctf-compressed.c
  libctf/testsuite/libctf-writable/ctf-nonroot-linking.c
Due: none

fixup! libctf: move string deduplication into ctf-archive
  libctf/ctf-api.c
Due: none

libctf, include: delete ctf_add_* flag arg and CTF_ADD_*.
  include/ctf-api.h
  libctf/ctf-create.c
  libctf/ctf-dedup.c
  libctf/ctf-dump.c
  libctf/ctf-impl.h
  libctf/testsuite/libctf-lookup/add-to-opened.c
  libctf/testsuite/libctf-lookup/enumerator-iteration.c
  libctf/testsuite/libctf-regression/open-error-free.c
  libctf/testsuite/libctf-regression/zrewrite.c
  libctf/testsuite/libctf-writable/ctf-compressed.c
  libctf/testsuite/libctf-writable/ctf-nonroot-addition.c
  libctf/testsuite/libctf-writable/ctf-nonroot-linking.c
  libctf/testsuite/libctf-writable/error-propagation.c
  libctf/testsuite/libctf-writable/id-assignment.c
  libctf/testsuite/libctf-writable/libctf-bitfield-name-lookup.c
  libctf/testsuite/libctf-writable/libctf-errors.c
  libctf/testsuite/libctf-writable/parent-child-dtd-crash-lib.c
  libctf/testsuite/libctf-writable/pptrtab-writable-page-deep-lookup.c
  libctf/testsuite/libctf-writable/pptrtab.c
  libctf/testsuite/libctf-writable/reserialize-strtab-corruption.c
  libctf/testsuite/libctf-writable/slice-of-slice.c
  libctf/testsuite/libctf-writable/symtypetab-nonlinker-writeout.c
Due: none

libctf: API review: delete deprecated functions
  include/ctf-api.h
  libctf/ctf-archive.c
  libctf/ctf-open.c
  libctf/libctf.ver
Due: none

libctf, include: API review: extend ctf_type_set_conflicting
  include/ctf-api.h
  libctf/ctf-create.c
  libctf/ctf-impl.h
Due: none

libctf, include: API review: ctf_add_qualifier
  include/ctf-api.h
  libctf/ctf-create.c
  libctf/ctf-dedup.c
  libctf/ctf-impl.h
  libctf/libctf.ver
Due: none

libctf: call ctf_type_set_conflicting earlier in dedup
  libctf/ctf-dedup.c
  libctf/ctf-impl.h
Due: none

libctf: API review: report error code in ctf_errwarning_next stream
  libctf/ctf-api.c
  libctf/ctf-impl.h
Due: none

libctf: ctf_err_warn -> smarter ctf_err / ctf_warn
  include/ctf-api.h
  libctf/ctf-api.c
  libctf/ctf-archive.c
  libctf/ctf-create.c
  libctf/ctf-dedup.c
  libctf/ctf-dump.c
  libctf/ctf-impl.h
  libctf/ctf-inlines.h
  libctf/ctf-link.c
  libctf/ctf-lookup.c
  libctf/ctf-open-bfd.c
  libctf/ctf-open-compat.c
  libctf/ctf-open.c
  libctf/ctf-serialize.c
  libctf/ctf-string.c
  libctf/ctf-types.c
Due: none

libctf: partial internal ctf_ret_tification
  libctf/ctf-archive.c
  libctf/ctf-dedup.c
  libctf/ctf-impl.h
  libctf/ctf-link.c
  libctf/ctf-serialize.c
Due: none

libctf: error code reduction (still underway)
  include/ctf-api.h
  libctf/api.org
  libctf/ctf-create.c
  libctf/ctf-lookup.c
  libctf/ctf-types.c
  libctf/testsuite/libctf-lookup/enumerator-iteration.c
  libctf/testsuite/libctf-lookup/struct-lookup.c
Due: none

libctf: API review: add ctf_errwarning_remove
  include/ctf-api.h
  libctf/ctf-api.c
  libctf/libctf.ver
Due: none

gdb: more guile 2.0 support removal
  gdb/NEWS
  gdb/acinclude.m4
  gdb/config.in
  gdb/configure
  gdb/configure.ac
  gdb/doc/guile.texi
  gdb/guile/guile-internal.h
  gdb/guile/guile.c
  gdb/guile/scm-safe-call.c
Due: check-include-guards, check-gnu-style

gdb: adjust guile 2.0 NEWS entry
  gdb/NEWS
Due: none

gdb: remove unused arch-utils.h include from solib-rocm.c
  gdb/solib-rocm.c
Due: check-gnu-style

gdb: remove unused includes from c-lang.{c,h}
  gdb/c-exp.y
  gdb/c-lang.c
  gdb/c-lang.h
Due: check-include-guards, check-gnu-style

Rewrite the "show environment" test
  gdb/testsuite/gdb.base/environ.exp
Due: none

Refactor environment-related commands
  gdb/infcmd.c
Due: check-gnu-style

Switch environment-related functions to accept a pointer
  gdb/infcmd.c
Due: check-gnu-style

Allow NULL to be passed to environment-related functions
  gdb/infcmd.c
Due: check-gnu-style

Implement local-environment commands
  gdb/NEWS
  gdb/doc/gdb.texinfo
  gdb/infcmd.c
  gdb/testsuite/gdb.base/local-env.exp
Due: check-gnu-style
