Repository bminor/binutils-gdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-include-guards, check-gnu-style

.pre-commit-config.yaml:

# Git has the notion of hooks, which are custom scripts that are run on
# specific events.  One of these hooks is the pre-commit hook (located at
# .git/hooks/pre-commit), which is run when committing, before specifying a
# message.
#
# To ease management of the pre-commit hook, the pre-commit framework
# ( https://pre-commit.com ) was developed.  This is the configuration file
# for that framework.  It contains a list of hooks, with information on where
# to find them and on which files to run them.
#
# See here ( https://pre-commit.com/#install ) on how to install the
# pre-commit framework.
#
# To run all the hooks specified in this file manually, you can do:
# $ pre-commit run
#
# To run some hooks and skip others, you can use environment variable SKIP:
# $ SKIP=flake8,isort pre-commit run
#
# To install the pre-commit framework in the repository in order to run the
# hooks on every commit, do:
# $ pre-commit install
#
# After installing the pre-commit framework, you can skip running all
# pre-commit hooks using --no-verify, or some using SKIP.
# $ git commit --no-verify ...
# $ SKIP=flake8,isort git commit ...
#
# In case some of these hooks don't work for you, you can make the SKIP
# setting permanent by:
# - setting SKIP in your environment
#   (this will affect all repositories where it is set)
# - setting SKIP in .git/hooks/pre-commit by adding "export SKIP=..."
#   (this will affect only this repository, but it may have to be re-added
#    if .git/hooks/pre-commit is regenerated)
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

minimum_pre_commit_version: 3.2.0
default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit]
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
      - id: black
        types_or: [file]
        files: 'gdb/.*\.py(\.in)?$'
  - repo:  https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
    - id: flake8
      types_or: [file]
      # Run this for (in glob notation):
      #
      #  - gdb/gdb-gdb.py.in
      #  - gdb/*.py
      #  - gdb/python/**/*.py
      #  - gdb/testsuite/*.py
      #
      files: '^gdb/(gdb-gdb\.py\.in|[^/]+\.py|python/.+\.py|testsuite/[^/]+\.py)$'
      args: [--config, gdb/setup.cfg]
  - repo: https://github.com/pycqa/isort
    rev: 6.1.0
    hooks:
    - id: isort
      types_or: [file]
      files: 'gdb/.*\.py(\.in)?$'
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    - id: codespell
      files: '^(gdbsupport|gdbserver|gdb/(tui|target|data-directory|po|system-gdbinit|mi|syscalls|arch|regformats|compile|python|guile|config|unittests|cli|testsuite/gdb.(ctf|dap|debuginfod|gdb|go|guile|mi|modula2|objc|opencl|opt|pascal|perf|replay|reverse|rocm|server|stabs|testsuite|tui|xml)))/'
      args: [--config, gdb/contrib/setup.cfg]
  - repo: local
    hooks:
    - id: check-include-guards
      name: check-include-guards
      language: python
      entry: gdb/check-include-guards.py
      # All gdb header files, but not headers in the test suite.
      files: '^(gdb(support|server)?)/.*\.h$'
      exclude: '.*/testsuite/.*'
    - id: codespell-log
      name: codespell-log
      language: script
      entry: gdb/contrib/codespell-log.sh
      verbose: true
      always_run: true
      stages: [commit-msg]
    - id: check-gnu-style
      name: check-gnu-style
      language: script
      entry: gdb/contrib/check-gnu-style-pre-commit.sh
      files: '^(gdb(support|server)?)/.*\.(c|h|cc)$'
      exclude: '.*/testsuite/.*'
      verbose: true
      stages: [pre-commit]
  - repo: https://github.com/nmoroze/tclint
    rev: v0.6.1
    hooks:
    - id: tclint
      args: [--config, gdb/tclint.toml]
      types_or: [file]
      files: 'gdb/testsuite/.*\.(exp|tcl)$'

Bump 'isort' version for pre-commit
  .pre-commit-config.yaml
Due: none

libsframe: fix warning about argument of sframe_fre_sanity_check_p
  libsframe/sframe.c
Due: none

Automatic date update in version.in
  bfd/version.h
Due: none

Don't build libctf tests in source dir
  libctf/testsuite/lib/ctf-lib.exp
Due: none

[gdb/tdep] Fix inferior call return of small char array for ppc64 v1 abi some more
  gdb/ppc-sysv-tdep.c
  gdb/testsuite/gdb.ada/return-small-char-array.exp
  gdb/testsuite/gdb.ada/return-small-char-array/value.adb
Due: check-gnu-style

include: sframe: rename sframe_func_desc_entry to use an explicit v2
  include/sframe.h
Due: none

libsframe: use sf_fde_tbl data structure internally for the decoder
  libsframe/sframe-impl.h
  libsframe/sframe.c
Due: none

libsframe: make flip_fde version aware
  libsframe/sframe.c
Due: none

libsframe: use const qualifier for sframe_header object
  libsframe/sframe.c
Due: none

libsframe: make flip_header version aware
  libsframe/sframe.c
Due: none

libctf: fix libctf/testsuite/libctf-lookup/multidim-array on older arches
  libctf/testsuite/libctf-lookup/multidim-array-ctf.c
  libctf/testsuite/libctf-lookup/multidim-array.c
  libctf/testsuite/libctf-lookup/multidim-array.lk
Due: none

libctf: fix unnecessary glibcism in testsuite
  libctf/testsuite/libctf-regression/open-error-free.c
Due: none

doc/python.texi : Adapt to Python 3 print syntax
  gdb/doc/python.texi
Due: none

gdb: restore warning when core file and executable don't match
  gdb/corelow.c
  gdb/testsuite/gdb.base/corefile-exec-mismatch.c
  gdb/testsuite/gdb.base/corefile-exec-mismatch.exp
Due: check-gnu-style

[gdb/python] Use PyConfig for python 3.9
  gdb/python/python.c
Due: check-gnu-style

[gdb/testsuite] Add gdb.src/pre-commit.exp
  gdb/testsuite/gdb.src/pre-commit.exp
Due: none

[gdb/testsuite] Use with_cwd in gdb.src/pre-commit.exp
  gdb/testsuite/gdb.src/pre-commit.exp
Due: none

[gdb/testsuite] Fix gdb.tui/resize-3.exp on ppc64-linux
  gdb/testsuite/gdb.tui/resize-3.exp
Due: none

libctf: tests: fix clang 21 uninitialized variable warning
  libctf/testsuite/libctf-writable/symtypetab-nonlinker-writeout.c
Due: none

Drop bashism from configure script
  gdb/configure
  gdb/configure.ac
Due: none

[gdb/testsuite] Use gnat_version_compare in gdb.ada
  gdb/testsuite/gdb.ada/O2_float_param.exp
  gdb/testsuite/gdb.ada/call_pn.exp
  gdb/testsuite/gdb.ada/finish-var-size.exp
  gdb/testsuite/gdb.ada/import.exp
Due: none

gdb: fix slowdown during skeletonless type units processing
  gdb/dwarf2/read.c
Due: check-gnu-style

gdb: rename find_pc_compunit_symtab -> find_compunit_symtab_for_pc
  gdb/amd64-tdep.c
  gdb/amdgpu-tdep.c
  gdb/arm-tdep.c
  gdb/block.c
  gdb/compile/compile.c
  gdb/dwarf2/frame.c
  gdb/frame.c
  gdb/guile/scm-block.c
  gdb/i386-tdep.c
  gdb/infrun.c
  gdb/python/py-progspace.c
  gdb/symtab.c
  gdb/symtab.h
Due: check-include-guards, check-gnu-style
