Repository bminor/binutils-gdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-include-guards, check-gnu-style

.pre-commit-config.yaml:

# Git has the notion of hooks, which are custom scripts that are run on
# specific events.  One of these hooks is the pre-commit hook (located at
# .git/hooks/pre-commit), which is run when committing, before specifying a
# message.
#
# To ease management of the pre-commit hook, the pre-commit framework
# ( https://pre-commit.com ) was developed.  This is the configuration file
# for that framework.  It contains a list of hooks, with information on where
# to find them and on which files to run them.
#
# See here ( https://pre-commit.com/#install ) on how to install the
# pre-commit framework.
#
# To run all the hooks specified in this file manually, you can do:
# $ pre-commit run
#
# To run some hooks and skip others, you can use environment variable SKIP:
# $ SKIP=flake8,isort pre-commit run
#
# To install the pre-commit framework in the repository in order to run the
# hooks on every commit, do:
# $ pre-commit install
#
# After installing the pre-commit framework, you can skip running all
# pre-commit hooks using --no-verify, or some using SKIP.
# $ git commit --no-verify ...
# $ SKIP=flake8,isort git commit ...
#
# In case some of these hooks don't work for you, you can make the SKIP
# setting permanent by:
# - setting SKIP in your environment
#   (this will affect all repositories where it is set)
# - setting SKIP in .git/hooks/pre-commit by adding "export SKIP=..."
#   (this will affect only this repository, but it may have to be re-added
#    if .git/hooks/pre-commit is regenerated)
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

minimum_pre_commit_version: 3.2.0
default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit]
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
      - id: black
        types_or: [file]
        files: 'gdb/.*\.py(\.in)?$'
  - repo:  https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
    - id: flake8
      types_or: [file]
      # Run this for (in glob notation):
      #
      #  - gdb/gdb-gdb.py.in
      #  - gdb/*.py
      #  - gdb/python/**/*.py
      #  - gdb/testsuite/*.py
      #
      files: '^gdb/(gdb-gdb\.py\.in|[^/]+\.py|python/.+\.py|testsuite/[^/]+\.py)$'
      args: [--config, gdb/setup.cfg]
  - repo: https://github.com/pycqa/isort
    rev: 6.1.0
    hooks:
    - id: isort
      types_or: [file]
      files: 'gdb/.*\.py(\.in)?$'
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    - id: codespell
      files: '^(gdbsupport|gdbserver|gdb/(tui|target|data-directory|po|system-gdbinit|mi|syscalls|arch|regformats|compile|python|guile|config|unittests|cli|testsuite/gdb.(ctf|dap|debuginfod|gdb|go|guile|mi|modula2|objc|opencl|opt|pascal|perf|replay|reverse|rocm|server|stabs|testsuite|tui|xml)))/'
      args: [--config, gdb/contrib/setup.cfg]
  - repo: local
    hooks:
    - id: check-include-guards
      name: check-include-guards
      language: python
      entry: gdb/check-include-guards.py
      # All gdb header files, but not headers in the test suite.
      files: '^(gdb(support|server)?)/.*\.h$'
      exclude: '.*/testsuite/.*'
    - id: codespell-log
      name: codespell-log
      language: script
      entry: gdb/contrib/codespell-log.sh
      verbose: true
      always_run: true
      stages: [commit-msg]
    - id: check-gnu-style
      name: check-gnu-style
      language: script
      entry: gdb/contrib/check-gnu-style-pre-commit.sh
      files: '^(gdb(support|server)?)/.*\.(c|h|cc)$'
      exclude: '.*/testsuite/.*'
      verbose: true
      stages: [pre-commit]
  - repo: https://github.com/nmoroze/tclint
    rev: v0.6.1
    hooks:
    - id: tclint
      args: [--config, gdb/tclint.toml]
      types_or: [file]
      files: 'gdb/testsuite/.*\.(exp|tcl)$'

Automatic date update in version.in
  bfd/version.h
Due: none

PR 33455 SEGV in vfinfo at ldmisc.c:527
  bfd/coffcode.h
Due: none

tidy m4 plugin config support
  bfd/configure
  binutils/configure
  binutils/testsuite/lib/binutils-common.exp
  config/clang-plugin.m4
  config/gcc-plugin.m4
  configure
  gas/configure
  gdb/configure
  gprof/configure
  gprofng/configure
  gprofng/libcollector/configure
  ld/configure
  libbacktrace/configure
  libctf/configure
  libiberty/configure
  libsframe/configure
  opcodes/configure
  sim/configure
  zlib/configure
Due: none

regen some configure files
  gdb/configure
  gprofng/configure
  gprofng/libcollector/configure
Due: none

ctf-archive sanity checks
  libctf/ctf-archive.c
Due: none

gdb, btrace: fix pr19340
  gdb/record-btrace.c
  gdb/testsuite/gdb.btrace/step.exp
Due: check-gnu-style

gdb, record: notify frame change on 'record stop' when selected thread moves
  gdb/doc/gdb.texinfo
  gdb/record-btrace.c
  gdb/record.c
  gdb/target-delegates-gen.c
  gdb/target.h
  gdb/testsuite/gdb.btrace/step.exp
Due: check-include-guards, check-gnu-style

btrace: update record_btrace_stop_replaying_at_end
  gdb/record-btrace.c
Due: check-gnu-style

btrace: do not stop replaying or recording while a thread is running
  gdb/record-btrace.c
  gdb/testsuite/gdb.btrace/enable-running.exp
Due: check-gnu-style

btrace: do not allow moving running threads with 'record goto'
  gdb/record-btrace.c
Due: check-gnu-style

btrace: clear thread stopped state when stopping replaying
  gdb/record-btrace.c
  gdb/testsuite/gdb.btrace/step.exp
Due: check-gnu-style

gdb, btrace: simplify gdb.btrace/multi-inferior.exp
  gdb/testsuite/gdb.btrace/multi-inferior.exp
Due: none

gdb, btrace: set wait status to ignore if nothing is moving
  gdb/record-btrace.c
Due: check-gnu-style

gdb, remote: adjust debug printing
  gdb/remote.c
Due: check-gnu-style

btrace, infrun: simplify scheduler-locking replay
  gdb/infrun.c
  gdb/record-full.c
Due: check-gnu-style

btrace, infrun: replay scheduler locking only depends on to-be-resumed thread
  gdb/infrun.c
Due: check-gnu-style

btrace: remove update_thread_list() and thread_alive()
  gdb/record-btrace.c
Due: check-gnu-style

btrace: stopped_by_*() consider the selected thread
  gdb/record-btrace.c
Due: check-gnu-style

elf: Don't set its DT_VERSYM entry for unversioned symbol
  bfd/elflink.c
  ld/testsuite/ld-elfvers/vers16.dsym
Due: none

gas: sframe: improve code comments around SFRAME_FRE_BASE_REG_INVAL
  gas/gen-sframe.c
  gas/gen-sframe.h
Due: none

libsframe: use sframe_decoder_get_funcdesc_v2 in dumper
  libsframe/sframe-dump.c
Due: none

Sync top-level with GCC
  Makefile.def
  configure
  configure.ac
Due: none

Remove call to abort in the DGB debug format printing code, thus allowing the display of a fuzzed input file to complete without triggering an abort.
  binutils/prdbg.c
Due: none

Clean up "return -1" in gdb.rust
  gdb/testsuite/gdb.rust/completion.exp
  gdb/testsuite/gdb.rust/dwindex.exp
  gdb/testsuite/gdb.rust/finish.exp
  gdb/testsuite/gdb.rust/fnfield.exp
  gdb/testsuite/gdb.rust/generics.exp
  gdb/testsuite/gdb.rust/main-crash.exp
  gdb/testsuite/gdb.rust/methods.exp
  gdb/testsuite/gdb.rust/modules.exp
  gdb/testsuite/gdb.rust/onetwoeight.exp
  gdb/testsuite/gdb.rust/pp.exp
  gdb/testsuite/gdb.rust/rawids.exp
  gdb/testsuite/gdb.rust/rust-start.exp
  gdb/testsuite/gdb.rust/rust-style.exp
  gdb/testsuite/gdb.rust/simple.exp
  gdb/testsuite/gdb.rust/traits.exp
  gdb/testsuite/gdb.rust/unicode.exp
  gdb/testsuite/gdb.rust/union.exp
  gdb/testsuite/gdb.rust/unsized.exp
  gdb/testsuite/gdb.rust/unsized2.exp
  gdb/testsuite/gdb.rust/watch.exp
Due: none

gdb: fix a typo in a comment in gdbtypes.h
  gdb/gdbtypes.h
Due: check-include-guards, check-gnu-style

libctf: types: struct/union member querying and iteration
  include/ctf-api.h
  libctf/ctf-impl.h
  libctf/ctf-lookup.c
  libctf/ctf-types.c
Due: none

libctf, create, types: encoding, BTF floats
  include/ctf-api.h
  libctf/ctf-create.c
  libctf/ctf-types.c
  libctf/libctf.ver
Due: none

libctf: types: add ctf_struct_bitfield (NEEDS REVIEW)
  include/ctf-api.h
  libctf/ctf-types.c
  libctf/libctf.ver
Due: none

libctf: create, types: enums and enum64s; type encoding
  include/ctf-api.h
  libctf/ctf-create.c
  libctf/ctf-lookup.c
  libctf/ctf-types.c
  libctf/libctf.ver
Due: none

libctf: decl, types: revise ctf_decl*, ctf_type_*name
  libctf/ctf-decl.c
  libctf/ctf-types.c
Due: none

libctf: create: DTD addition and deletion; ctf_rollback
  libctf/ctf-create.c
Due: none

libctf: create, lookup: delete DVDs; ctf_lookup_by_kind
  include/ctf-api.h
  libctf/ctf-create.c
  libctf/ctf-impl.h
  libctf/ctf-link.c
  libctf/ctf-lookup.c
  libctf/ctf-open.c
  libctf/ctf-serialize.c
  libctf/libctf.ver
Due: none

libctf: types: ctf_type_resolve_nonrepresentable
  libctf/ctf-impl.h
  libctf/ctf-types.c
Due: none

libctf: create: ctf_add_type modifications
  libctf/ctf-create.c
Due: none

libctf: create: struct/union addition
  include/ctf-api.h
  libctf/ctf-create.c
Due: none

libctf: create: vlen growth and prefix addition (NEEDS REVIEW)
  libctf/ctf-create.c
Due: none

libctf: create: structure and union member addition
  include/ctf-api.h
  libctf/ctf-create.c
  libctf/ctf-impl.h
  libctf/ctf-types.c
  libctf/libctf.ver
Due: none

libctf: allow ctf_arc_bufpreamble to fail
  libctf/ctf-archive.c
  libctf/ctf-open-bfd.c
Due: none

gdb: introduce blockvector_up
  gdb/block.h
  gdb/buildsym.c
  gdb/buildsym.h
Due: check-include-guards, check-gnu-style
