Repository bminor/binutils-gdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-include-guards, check-gnu-style

.pre-commit-config.yaml:

# Git has the notion of hooks, which are custom scripts that are run on
# specific events.  One of these hooks is the pre-commit hook (located at
# .git/hooks/pre-commit), which is run when committing, before specifying a
# message.
#
# To ease management of the pre-commit hook, the pre-commit framework
# ( https://pre-commit.com ) was developed.  This is the configuration file
# for that framework.  It contains a list of hooks, with information on where
# to find them and on which files to run them.
#
# See here ( https://pre-commit.com/#install ) on how to install the
# pre-commit framework.
#
# To run all the hooks specified in this file manually, you can do:
# $ pre-commit run
#
# To run some hooks and skip others, you can use environment variable SKIP:
# $ SKIP=flake8,isort pre-commit run
#
# To install the pre-commit framework in the repository in order to run the
# hooks on every commit, do:
# $ pre-commit install
#
# After installing the pre-commit framework, you can skip running all
# pre-commit hooks using --no-verify, or some using SKIP.
# $ git commit --no-verify ...
# $ SKIP=flake8,isort git commit ...
#
# In case some of these hooks don't work for you, you can make the SKIP
# setting permanent by:
# - setting SKIP in your environment
#   (this will affect all repositories where it is set)
# - setting SKIP in .git/hooks/pre-commit by adding "export SKIP=..."
#   (this will affect only this repository, but it may have to be re-added
#    if .git/hooks/pre-commit is regenerated)
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

minimum_pre_commit_version: 3.2.0
default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit]
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
      - id: black
        types_or: [file]
        files: 'gdb/.*\.py(\.in)?$'
  - repo:  https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
    - id: flake8
      types_or: [file]
      # Run this for (in glob notation):
      #
      #  - gdb/gdb-gdb.py.in
      #  - gdb/*.py
      #  - gdb/python/**/*.py
      #  - gdb/testsuite/*.py
      #
      files: '^gdb/(gdb-gdb\.py\.in|[^/]+\.py|python/.+\.py|testsuite/[^/]+\.py)$'
      args: [--config, gdb/setup.cfg]
  - repo: https://github.com/pycqa/isort
    rev: 6.1.0
    hooks:
    - id: isort
      types_or: [file]
      files: 'gdb/.*\.py(\.in)?$'
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    - id: codespell
      files: '^(gdbsupport|gdbserver|gdb/(tui|target|data-directory|po|system-gdbinit|mi|syscalls|arch|regformats|compile|python|guile|config|unittests|cli|testsuite/gdb.(ctf|dap|debuginfod|gdb|go|guile|mi|modula2|objc|opencl|opt|pascal|perf|replay|reverse|rocm|server|stabs|testsuite|tui|xml)))/'
      args: [--config, gdb/contrib/setup.cfg]
  - repo: local
    hooks:
    - id: check-include-guards
      name: check-include-guards
      language: python
      entry: gdb/check-include-guards.py
      # All gdb header files, but not headers in the test suite.
      files: '^(gdb(support|server)?)/.*\.h$'
      exclude: '.*/testsuite/.*'
    - id: codespell-log
      name: codespell-log
      language: script
      entry: gdb/contrib/codespell-log.sh
      verbose: true
      always_run: true
      stages: [commit-msg]
    - id: check-gnu-style
      name: check-gnu-style
      language: script
      entry: gdb/contrib/check-gnu-style-pre-commit.sh
      files: '^(gdb(support|server)?)/.*\.(c|h|cc)$'
      exclude: '.*/testsuite/.*'
      verbose: true
      stages: [pre-commit]
  - repo: https://github.com/nmoroze/tclint
    rev: v0.6.1
    hooks:
    - id: tclint
      args: [--config, gdb/tclint.toml]
      types_or: [file]
      files: 'gdb/testsuite/.*\.(exp|tcl)$'

Partly rewrite dwarf2_get_symbol_read_needs
  gdb/dwarf2/loc.c
Due: check-gnu-style

x86: Add _bfd_elf_x86_copy_special_section_fields
  bfd/elf32-i386.c
  bfd/elf64-x86-64.c
  bfd/elfxx-x86.c
  bfd/elfxx-x86.h
Due: none

[gdb] Fix whitespace in *.h
  gdb/block.h
  gdb/config/i386/nm-x86-gnu.h
  gdb/contrib/check-whitespace-pre-commit.py
  gdb/dwarf2/abbrev.h
  gdb/symtab.h
Due: check-include-guards, check-gnu-style

[gdb] Fix whitespace in *.[ly]
  gdb/.gitattributes
  gdb/ada-exp.y
  gdb/ada-lex.l
  gdb/c-exp.y
  gdb/contrib/check-whitespace-pre-commit.py
  gdb/cp-name-parser.y
  gdb/d-exp.y
  gdb/f-exp.y
  gdb/m2-exp.y
  gdb/p-exp.y
Due: none

[gdb] Fix whitespace in *.c
  gdb/alpha-netbsd-tdep.c
  gdb/arch/aarch64-mte-linux.c
  gdb/c-varobj.c
  gdb/cli/cli-utils.c
  gdb/contrib/check-whitespace-pre-commit.py
  gdb/d-namespace.c
  gdb/darwin-nat-info.c
  gdb/jit.c
  gdb/linux-tdep.c
  gdb/m68hc11-tdep.c
  gdb/mdebugread.c
  gdb/mi/mi-cmd-break.c
  gdb/mi/mi-cmd-catch.c
  gdb/mi/mi-cmd-target.c
  gdb/mn10300-linux-tdep.c
  gdb/mn10300-tdep.c
  gdb/ppc-sysv-tdep.c
  gdb/rs6000-aix-tdep.c
  gdb/rs6000-lynx178-tdep.c
  gdb/split-name.c
  gdb/target-float.c
  gdb/unittests/child-path-selftests.c
  gdb/unittests/mkdir-recursive-selftests.c
Due: check-gnu-style

[gdb] Fix whitespace in *.def
  gdb/.gitattributes
  gdb/contrib/check-whitespace-pre-commit.py
  gdb/i386-syscalls.def
  gdb/std-operator.def
  gdb/unwind_stop_reasons.def
  gdbserver/.gitattributes
  gdbsupport/.gitattributes
Due: none

[gdb] Fix whitespace in NEWS
  gdb/NEWS
  gdb/contrib/check-whitespace-pre-commit.py
Due: none

Automatic date update in version.in
  bfd/version.h
Due: none

GDB: Guile: Remove code meant for Guile < 2.2
  gdb/guile/scm-gsmob.c
Due: check-gnu-style

GDB: Guile: Remove procedures ineffectual since Guile 2.2
  gdb/NEWS
  gdb/doc/guile.texi
  gdb/guile/lib/gdb.scm
  gdb/guile/scm-ports.c
Due: check-gnu-style

Revert "[gdb/guile] Use SCM_DEBUG_TYPING_STRICTNESS 0"
  gdb/guile/guile-internal.h
Due: check-include-guards, check-gnu-style

LoongArch: Enable loongarch_elf64_vec loongarch64_pei_vec on LA32 target
  bfd/config.bfd
Due: none

LoongArch: Add LA32 and LA32R relocations
  bfd/bfd-in2.h
  bfd/elfnn-loongarch.c
  bfd/elfxx-loongarch.c
  bfd/libbfd.h
  bfd/reloc.c
  include/elf/loongarch.h
Due: none

LoongArch: Change DWARF2_CIE_DATA_ALIGNMENT to -4 for loongarch32
  gas/config/tc-loongarch.c
  gas/config/tc-loongarch.h
Due: none

LoongArch: Add R_LARCH_TLS_LE_ADD_R relocation support for add.w
  opcodes/loongarch-opc.c
Due: none

LoongArch: LA32 macros support
  opcodes/loongarch-opc.c
Due: none

LoongArch: Add processing for LA32/LA32R relocations
  bfd/elfnn-loongarch.c
  bfd/elfxx-loongarch.c
  gas/config/tc-loongarch.c
Due: none

LoongArch: Add linker relaxation support for R_LARCH_CALL30
  bfd/elfnn-loongarch.c
  gas/config/tc-loongarch.c
Due: none

LoongArch: Enable all instructions by default on LA32 like LA64
  gas/config/tc-loongarch.c
Due: none

LoongArch: LA32R macros expand
  gas/config/tc-loongarch.c
Due: none

LoongArch32: Fix and add testcases
  gas/testsuite/gas/loongarch/macro_op_32.d
  gas/testsuite/gas/loongarch/relocs_32.d
  gas/testsuite/gas/loongarch/relocs_32.s
  ld/testsuite/ld-loongarch-elf/desc-ie.d
  ld/testsuite/ld-loongarch-elf/disas-jirl-32.d
  ld/testsuite/ld-loongarch-elf/la32.d
  ld/testsuite/ld-loongarch-elf/la32.s
  ld/testsuite/ld-loongarch-elf/ld-loongarch-elf.exp
  ld/testsuite/ld-loongarch-elf/macro_op_32.d
  ld/testsuite/ld-loongarch-elf/pic.exp
Due: none

LoongArch: Add support for tls type transition on LA32
  bfd/elfnn-loongarch.c
  gas/config/tc-loongarch.c
  include/opcode/loongarch.h
Due: none

LoongArch: Add linker relaxation for got_pcadd_hi20 and got_pcadd_lo12
  bfd/elfnn-loongarch.c
  gas/config/tc-loongarch.c
  include/opcode/loongarch.h
Due: none

i386: Add GLIBC_ABI_GNU_TLS dependency only if used
  bfd/elfxx-x86.c
  ld/testsuite/ld-i386/i386.exp
  ld/testsuite/ld-i386/no-tls.c
Due: none

lto: Compile LTO 15 test with -fno-fat-lto-objects
  ld/testsuite/ld-plugin/lto.exp
Due: none

Cleanup bfd target vectors and ld emulations on Solaris
  bfd/config.bfd
  gas/testsuite/gas/i386/i386.exp
  ld/configure.tgt
  ld/emulparams/elf32_sparc_sol2.sh
  ld/emulparams/elf64_sparc.sh
  ld/emulparams/elf64_sparc_sol2.sh
  ld/emulparams/elf_i386_ldso.sh
  ld/emulparams/elf_i386_sol2.sh
  ld/emulparams/elf_x86_64.sh
  ld/emulparams/elf_x86_64_sol2.sh
  ld/emulparams/solaris2.sh
  ld/genscripts.sh
Due: none

Fix "unset local-environment" when clearenv not available
  gdb/config.in
  gdb/configure
  gdb/configure.ac
  gdb/infcmd.c
  gdb/testsuite/gdb.base/local-env.exp
Due: check-gnu-style

Cleanup bfd target vectors and ld emulations on Solaris (missed part)
  bfd/config.bfd
Due: none

aarch64: Add support for FEAT_LSCP
  gas/config/tc-aarch64.c
  gas/doc/c-aarch64.texi
  gas/testsuite/gas/aarch64/lscp-warn.l
  gas/testsuite/gas/aarch64/lscp.d
  gas/testsuite/gas/aarch64/lscp.s
  include/opcode/aarch64.h
  opcodes/aarch64-dis-2.c
  opcodes/aarch64-tbl-2.h
  opcodes/aarch64-tbl.h
Due: none

aarch64: Update parse_vector_reg_list comment
  gas/config/tc-aarch64.c
Due: none

ld: Remove elf_i386_ldso reference
  ld/Makefile.am
  ld/Makefile.in
Due: none

gdb/testsuite: use with_timeout_factor in huge.exp testcases
  gdb/testsuite/gdb.ada/huge.exp
  gdb/testsuite/gdb.base/huge.exp
  gdb/testsuite/gdb.fortran/huge.exp
Due: none

[gdb/testsuite] Add tclint-plugin.py
  .pre-commit-config.yaml
  gdb/testsuite/gdb.python/py-missing-objfile.exp
  gdb/testsuite/lib/ada.exp
  gdb/testsuite/lib/cache.exp
  gdb/testsuite/lib/completion-support.exp
  gdb/testsuite/lib/debuginfod-support.exp
  gdb/testsuite/lib/dwarf.exp
  gdb/testsuite/lib/gdb-utils.exp
  gdb/testsuite/lib/gdb.exp
  gdb/testsuite/lib/mi-support.exp
  gdb/testsuite/lib/rocm.exp
  gdb/testsuite/lib/tuiterm.exp
  gdb/testsuite/tclint-plugin.py
Due: none

[pre-commit] Add pre-commit setup check
  .pre-commit-config.yaml
  gdb/contrib/pre-commit-setup.py
  gdb/testsuite/gdb.src/pre-commit.exp
Due: none

Use -wrap in two test cases
  gdb/testsuite/gdb.base/environ.exp
  gdb/testsuite/gdb.base/local-env.exp
Due: none
