Repository bminor/binutils-gdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-include-guards, check-gnu-style

check-include-guards:
  name: check-include-guards
  language: python
  entry: gdb/check-include-guards.py

check-gnu-style:
  name: check-gnu-style
  language: script
  entry: gdb/contrib/check-gnu-style-pre-commit.sh
  verbose: true
  stages:
  - pre-commit

PR 33638, debug_rnglists output
  binutils/dwarf.c
Due: none

PR 33639 .debug_loclists output
  binutils/dwarf.c
Due: none

Automatic date update in version.in
  bfd/version.h
Due: none

Re: dlltool memory leaks
  binutils/dlltool.c
Due: none

gprofng: disable LTO as a workaround
  gprofng/Makefile.am
  gprofng/Makefile.in
  gprofng/configure
  gprofng/configure.ac
  gprofng/doc/Makefile.in
  gprofng/gp-display-html/Makefile.in
  gprofng/libcollector/Makefile.am
  gprofng/libcollector/Makefile.in
  gprofng/src/Makefile.am
  gprofng/src/Makefile.in
Due: none

[gdb/testsuite] Rewrite strings in gdb.ada/unchecked_union.exp
  gdb/testsuite/gdb.ada/unchecked_union.exp
Due: none

Change dw2_search_one to be static
  gdb/dwarf2/read.c
  gdb/dwarf2/read.h
Due: check-include-guards, check-gnu-style

[gdb/build, c++20] Fix deprecated implicit capture in cooked_index::set_contents
  gdb/dwarf2/cooked-index.c
Due: check-gnu-style

Remove a call to blockvector::map
  gdb/inline-frame.c
Due: check-gnu-style

elf: Verify base symbol version works properly
  ld/testsuite/ld-elfvers/pass.out
  ld/testsuite/ld-elfvers/pr33577-unversioned.c
  ld/testsuite/ld-elfvers/pr33577-unversioned.rd
  ld/testsuite/ld-elfvers/pr33577-versioned.c
  ld/testsuite/ld-elfvers/pr33577-versioned.rd
  ld/testsuite/ld-elfvers/pr33577.map
  ld/testsuite/ld-elfvers/pr33577a.c
  ld/testsuite/ld-elfvers/pr33577b.c
  ld/testsuite/ld-elfvers/vers.exp
Due: none

gdb: force lval_memory for value components with dynamic data location
  gdb/testsuite/gdb.dwarf2/data-loc-cast.c
  gdb/testsuite/gdb.dwarf2/data-loc-cast.exp
  gdb/value.c
Due: check-gnu-style

gdb: resolve dynamic type in one value_cast case
  gdb/testsuite/gdb.dwarf2/data-loc-cast.exp
  gdb/valops.c
Due: check-gnu-style

LoongArch: Use more appropriate assertions for the relocation of TLS LE
  bfd/elfnn-loongarch.c
  ld/testsuite/ld-loongarch-elf/ld-loongarch-elf.exp
  ld/testsuite/ld-loongarch-elf/undefweak_le.s
Due: none

RISC-V: Tidy and aligned riscv_supported_std_[z|x]_ext tables
  bfd/elfxx-riscv.c
Due: none

bfd: rename old references to build attributes
  bfd/elf-attrs.c
  bfd/elf-bfd.h
  bfd/elflink.c
Due: none

bfd: rename parsing methods of object attribute v1 API
  bfd/elf-attrs.c
  bfd/elf-bfd.h
  bfd/elf32-arc.c
  bfd/elf32-arm.c
  bfd/elf32-csky.c
  bfd/elf32-msp430.c
  bfd/elf32-tic6x.c
  bfd/elfnn-riscv.c
  gas/config/obj-elf.c
  gas/config/obj-elf.h
  gas/config/tc-arc.c
  gas/config/tc-arm.c
  gas/config/tc-m68k.c
  gas/config/tc-mips.c
  gas/config/tc-ppc.c
  gas/config/tc-riscv.c
  gas/config/tc-tic6x.c
Due: none

gas: move code for object attribute parsing into obj-elf-attr.c
  gas/Makefile.am
  gas/Makefile.in
  gas/config/obj-elf-attr.c
  gas/config/obj-elf-attr.h
  gas/config/obj-elf.c
  gas/config/obj-elf.h
  gas/config/tc-arc.h
  gas/config/tc-arm.h
  gas/config/tc-csky.h
  gas/config/tc-m68k.h
  gas/config/tc-mips.c
  gas/config/tc-mips.h
  gas/config/tc-msp430.h
  gas/config/tc-ppc.h
  gas/config/tc-riscv.h
  gas/config/tc-s390.h
  gas/config/tc-sparc.h
  gas/config/tc-tic6x.h
  gas/configure
  gas/configure.ac
  gas/doc/as.texi
  gas/po/POTFILES.in
Due: none

aarch64: constify BTI and GCS report functions
  bfd/elfxx-aarch64.c
  bfd/elfxx-aarch64.h
Due: none

Make readelf not print 'foo@@' for normal symbols
  binutils/readelf.c
  ld/testsuite/ld-elf/pr33599.d
Due: none

Use version index 1 for defined symbols
  bfd/elflink.c
  ld/testsuite/ld-elfvers/vers16.dsym
Due: none

PR 33473 SEGV in _bfd_elf_gc_mark_debug_special_section_group
  bfd/elf.c
  bfd/elflink.c
Due: none

PR 33474 SEGV in init_reloc_cookie
  bfd/elflink.c
Due: none

replace tail with sed
  binutils/testsuite/binutils-all/objdump.exp
Due: none

bogus FAILs from mmix ld testsuite
  ld/testsuite/ld-mmix/bpo-15.d
  ld/testsuite/ld-mmix/bpo-15m.d
  ld/testsuite/ld-mmix/bpo-21.d
  ld/testsuite/ld-mmix/bpo-21m.d
Due: none

hppa64: Fix R_PARISC_LTOFF_FPTR64 and R_PARISC_LTOFF_TP64 relocation support
  bfd/elf64-hppa.c
Due: none

Path conditions:
  check-include-guards: any of: ^(gdb(support|server)?)/.*\.h$, but not: .*/testsuite/.*
  check-gnu-style: any of: ^(gdb(support|server)?)/.*\.(c|h|cc)$, but not: .*/testsuite/.*
