Repository bminor/binutils-gdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-include-guards, check-gnu-style

check-include-guards:
  name: check-include-guards
  language: python
  entry: gdb/check-include-guards.py

check-gnu-style:
  name: check-gnu-style
  language: script
  entry: gdb/contrib/check-gnu-style-pre-commit.sh
  verbose: true
  stages:
  - pre-commit

gdb: rename find_pc_sect_compunit_symtab -> find_compunit_symtab_for_pc_sect
  gdb/block.c
  gdb/blockframe.c
  gdb/symtab.c
  gdb/symtab.h
Due: check-include-guards, check-gnu-style

gdb: rename find_pc_sect_containing_function -> find_symbol_for_pc_sect_maybe_inline
  gdb/blockframe.c
  gdb/infcmd.c
  gdb/linespec.c
  gdb/symtab.c
  gdb/symtab.h
Due: check-include-guards, check-gnu-style

gdb: rename find_pc_sect_function -> find_symbol_for_pc_sect
  gdb/blockframe.c
  gdb/breakpoint.c
  gdb/printcmd.c
  gdb/symtab.c
  gdb/symtab.h
  gdb/tracepoint.c
Due: check-include-guards, check-gnu-style

gdb: rename find_pc_function -> find_symbol_for_pc
  gdb/blockframe.c
  gdb/btrace.c
  gdb/cli/cli-cmds.c
  gdb/dwarf2/loc.c
  gdb/eval.c
  gdb/guile/scm-frame.c
  gdb/infcall.c
  gdb/infcmd.c
  gdb/infrun.c
  gdb/python/py-finishbreakpoint.c
  gdb/solib-frv.c
  gdb/sparc-tdep.c
  gdb/symtab.c
  gdb/symtab.h
  gdb/tracepoint.c
Due: check-include-guards, check-gnu-style

gdb: rename find_pc_line_pc_range -> find_line_pc_range_for_pc
  gdb/infcmd.c
  gdb/symtab.c
  gdb/symtab.h
Due: check-include-guards, check-gnu-style

gdb: rename find_pc_sect_line -> find_sal_for_pc_sect
  gdb/amd64-tdep.c
  gdb/linespec.c
  gdb/printcmd.c
  gdb/symtab.c
  gdb/symtab.h
Due: check-include-guards, check-gnu-style

gdb: rename find_pc_line_symtab -> find_symtab_for_pc
  gdb/disasm.c
  gdb/record-btrace.c
  gdb/symmisc.c
  gdb/symtab.c
  gdb/symtab.h
  gdb/tui/tui-source.c
  gdb/tui/tui-winsource.c
Due: check-include-guards, check-gnu-style

gdb: rename find_line_pc_range -> find_pc_range_for_sal
  gdb/breakpoint.c
  gdb/mi/mi-cmd-disas.c
  gdb/mi/mi-main.c
  gdb/source.c
  gdb/symtab.c
  gdb/symtab.h
  gdb/tracepoint.c
  gdb/tui/tui-disasm.c
  gdb/tui/tui-source.c
  gdb/tui/tui-winsource.c
Due: check-include-guards, check-gnu-style

gdb: remove unused includes in source.c
  gdb/source.c
Due: check-gnu-style

Only set call site if not empty
  gdb/symtab.c
Due: check-gnu-style

Automatic date update in version.in
  bfd/version.h
Due: none

Correct _bfd_elf_section_for_symbol
  bfd/elf-bfd.h
  bfd/elf-eh-frame.c
  bfd/elflink.c
Due: none

gdb: remove return value of set_current_source_symtab_and_line
  gdb/source.c
  gdb/source.h
Due: check-include-guards, check-gnu-style

Create script to convert old tests into Dwarf::assemble calls.
  gdb/contrib/dwarf-to-dwarf-assembler.py
Due: none

gdb/testsuite/gdb.python/py-symbol.exp: accept either rr static symbol when calling lookup_static_symbol
  gdb/doc/python.texi
  gdb/testsuite/gdb.python/py-symbol.exp
Due: none

gdb: move some stabs functions to gdb/buildsym-legacy.h
  gdb/buildsym-legacy.h
  gdb/stabsread.c
  gdb/stabsread.h
Due: check-include-guards, check-gnu-style

gdb: Remove stabs support from XCOFF inferiors
  gdb/rs6000-aix-nat.c
  gdb/testsuite/lib/gdb.exp
  gdb/xcoffread.c
Due: check-gnu-style

gdb: Remove stabs support for COFF files
  gdb/coffread.c
Due: check-gnu-style

gdb/mdebug: Remove stabs support from mips inferiors
  gdb/mdebugread.c
  gdb/mipsread.c
Due: check-gnu-style

gdb: Remove stabs support from dbx
  gdb/dbxread.c
Due: check-gnu-style

gdb: Remove stabs support from ELF files
  gdb/elfread.c
  gdb/testsuite/gdb.stabs/weird.exp
Due: check-gnu-style

gdb: Fully remove stabs code from GDB
  gdb/Makefile.in
  gdb/NEWS
  gdb/arch-utils.c
  gdb/arch-utils.h
  gdb/buildsym.c
  gdb/dbxread.c
  gdb/doc/Makefile.in
  gdb/doc/gdb.texinfo
  gdb/doc/stabs.texinfo
  gdb/gdbarch-gen.c
  gdb/gdbarch-gen.h
  gdb/gdbarch_components.py
  gdb/microblaze-tdep.c
  gdb/objfiles.h
  gdb/sparc-tdep.c
  gdb/sparc64-tdep.c
  gdb/stabsread.c
  gdb/stabsread.h
  gdb/symmisc.c
  gdb/testsuite/gdb.stabs/aout.sed
  gdb/testsuite/gdb.stabs/ecoff.sed
  gdb/testsuite/gdb.stabs/exclfwd.exp
  gdb/testsuite/gdb.stabs/exclfwd.h
  gdb/testsuite/gdb.stabs/exclfwd1.c
  gdb/testsuite/gdb.stabs/exclfwd2.c
  gdb/testsuite/gdb.stabs/gdb11479.c
  gdb/testsuite/gdb.stabs/gdb11479.exp
  gdb/testsuite/gdb.stabs/hppa.sed
  gdb/testsuite/gdb.stabs/weird.def
  gdb/testsuite/gdb.stabs/xcoff.sed
Due: check-include-guards, check-gnu-style

gdb: remove support for dbx from GDB
  gdb/Makefile.in
  gdb/NEWS
  gdb/configure
  gdb/configure.ac
  gdb/dbxread.c
  gdb/gdb-stabs.h
Due: check-include-guards, check-gnu-style

LD/testsuite: Add tests for mapless archive rejection
  ld/testsuite/ld-archive/abc.ed
  ld/testsuite/ld-archive/abct.ed
  ld/testsuite/ld-archive/archive.exp
Due: none

LD/testsuite: Add tests for archive handling
  ld/testsuite/ld-archive/a.s
  ld/testsuite/ld-archive/abc.nd
  ld/testsuite/ld-archive/abc.s
  ld/testsuite/ld-archive/abcde.nd
  ld/testsuite/ld-archive/abcde.s
  ld/testsuite/ld-archive/archive.exp
  ld/testsuite/ld-archive/b.s
  ld/testsuite/ld-archive/c.s
  ld/testsuite/ld-archive/d.s
Due: none

AArch64: Fix SME za register description
  gdb/doc/gdb.texinfo
Due: none

objcopy: Don't add zstd to the debug compression options if not available
  binutils/objcopy.c
Due: none

[gdb/contrib] Handle unknown attribute in dwarf-to-dwarf-assembler.py
  gdb/contrib/dwarf-to-dwarf-assembler.py
Due: none

[gdb/contrib] Fix errno.EOPNOTSUP in dwarf-to-dwarf-assembler.py
  gdb/contrib/dwarf-to-dwarf-assembler.py
Due: none

[gdb/testsuite] Add proc subst_vars
  gdb/testsuite/gdb.base/coredump-filter.exp
  gdb/testsuite/gdb.base/nodebug.exp
  gdb/testsuite/gdb.compile/compile-ops.exp
  gdb/testsuite/gdb.cp/local-static.exp
  gdb/testsuite/gdb.dwarf2/dw2-complex-parts.exp
  gdb/testsuite/gdb.threads/gcore-thread.exp
  gdb/testsuite/gdb.trace/save-trace.exp
  gdb/testsuite/gdb.tui/resize-3.exp
  gdb/testsuite/lib/gdb-utils.exp
Due: none

[gdb] Drop gdb.stabs exclude from tclint.toml
  gdb/tclint.toml
Due: none

gdb: fix loading compressed scripts from `.debug_gdb_scripts`-section
  gdb/gdb_bfd.c
Due: check-gnu-style

[gdb/testsuite] Simplify gdb.cp/local-static.exp
  gdb/testsuite/gdb.cp/local-static.exp
Due: none

Path conditions:
  check-include-guards: any of: ^(gdb(support|server)?)/.*\.h$, but not: .*/testsuite/.*
  check-gnu-style: any of: ^(gdb(support|server)?)/.*\.(c|h|cc)$, but not: .*/testsuite/.*
